{% assign sec_id = section.id | slice: -8, 8  | replace: "-", "_" %}

{%- style -%}

.pw-container,
.pw-container-fluid {
  width: 100%;
  padding-right: var(--pw-gutter-x, 15px);
  padding-left: var(--pw-gutter-x, 15px);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .pw-container {
    max-width: 540px;
  }
}

@media (min-width: 750px) {
  .pw-container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .pw-container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .pw-container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .pw-container {
    max-width: 1320px;
  }
}

.pw-container,
.pw-container-fluid {
  padding-right: var(--pw-gutter-x, 15px);
  padding-left: var(--pw-gutter-x, 15px);
}

.pw-section__{{sec_id}} .pw-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: calc(var(--pw-gutter-x, 15px) * -1);
  margin-left: calc(var(--pw-gutter-x, 15px) * -1);
}

.pw-section__{{sec_id}} .pw-row > * {
  box-sizing: border-box;
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: var(--pw-gutter-x, 15px);
  padding-left: var(--pw-gutter-x, 15px);
}

@media (min-width: 992px) {
  .pw-section__{{sec_id}} .pw-col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .pw-section__{{sec_id}} .pw-offset-lg-1 {
    margin-left: 8.33333333%;
  }
}

@media (min-width: 1200px) {
  .pw-section__{{sec_id}} .pw-col-xl-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  .pw-section__{{sec_id}} .pw-offset-xl-1 {
    margin-left: 8.33333333%;
  }
}

.pw-section__{{sec_id}} {
  --pw-gutter-x: 25px;
  background-color: {{section.settings.background_color}};
  color: {{section.settings.text_color}};
  padding-top: {{section.settings.section_padding_top}}px;
  padding-bottom: {{section.settings.section_padding_bottom}}px;
  line-height: 1.5;
}

.pw-section__{{sec_id}} .pw-section-title::before,
.pw-section__{{sec_id}} .pw-section-title::after {
  display: none;
}

.pw-section__{{sec_id}} .pw-section-title {
  color: {{section.settings.text_color}};
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 25px;
  line-height: 1.25;
  text-align: left:
}

.pw-section__{{sec_id}} .pw-section-subtitle {
  color: {{section.settings.text_color}};
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 25px;
}

.pw-section__{{sec_id}} .pw-section-text p {
  color: {{section.settings.text_color}};
  margin-top: 0;
}

{% if section.settings.inherit_fonts == false %}
  .pw-section__{{sec_id}} .pw-section-subtitle {
     font-size: 26px;
  }
  .pw-section__{{sec_id}} h1.pw-section-title {
    font-size: 72px;
  }
  .pw-section__{{sec_id}} h2.pw-section-title {
    font-size: 56px;
  }
  .pw-section__{{sec_id}} h3.pw-section-title {
    font-size: 32px;
  }
  .pw-section__{{sec_id}} .pw-section-text p {
    font-size: 24px; margin-bottom: 24px;
  }
{% endif %}

@media only screen and (max-width: 749px) {
  .pw-section__{{sec_id}} {
    padding-top: {{section.settings.section_padding_top_mobile}}px;
    padding-bottom: {{section.settings.section_padding_bottom_mobile}}px;
  }
  {% if section.settings.inherit_fonts == false %}
    .pw-section__{{sec_id}} .pw-section-subtitle {
      font-size: 22px;
    }
    .pw-section__{{sec_id}} h1.pw-section-title {
      font-size: 50px;
    }
    .pw-section__{{sec_id}} h2.pw-section-title {
      font-size: 40px;
    }
    .pw-section__{{sec_id}} h3.pw-section-title {
      font-size: 26px;
    }
    .pw-section__{{sec_id}} .pw-section-text p {
      font-size: 20px;
    }
  {% endif %}
}

{%- endstyle -%}


{% if section.settings.custom_css != blank %}
  {%- style -%}
  {{section.settings.custom_css}}
  {%- endstyle -%}
{% endif %}


<div class="pw-section__{{sec_id}}">
  <div class="pw-container">
    <div class="pw-row">
      <div class="pw-col-xl-5 pw-col-lg-6">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'heading' %}
            {% if block.settings.heading_text != blank %}
              <{{ block.settings.heading_tag }} class="pw-section-title" {{ block.shopify_attributes }}>
              {{ block.settings.heading_text | escape }}
              </{{ block.settings.heading_tag }}>
            {% endif %}

            {% when 'subheading' %}
            {% if block.settings.subheading_text != blank %}
              <p class="pw-section-subtitle" {{ block.shopify_attributes }}>
                {{ block.settings.subheading_text }}
              </p>
            {% endif %}

          {% endcase %}
        {% endfor %}
      </div>
      <div class="pw-col-lg-6 pw-offset-xl-1">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'text' %}
            {% if block.settings.section_text != blank %}
              <div class="pw-section-text" {{ block.shopify_attributes }}>
                {{ block.settings.section_text }}
              </div>
            {% endif %}
          {% endcase %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>


{% schema %}

{
  "name": "🚀SP - About Penelop",
  "tag": "section",
  "class": "title-and-content",
  "settings": [
    {
      "type": "header",
      "content": "Main settings"
    }, 
    {
      "type": "checkbox",
      "id": "inherit_fonts",
      "default": false,
      "label": "Inherit font sizes from theme"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color",
      "default": "#262424"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color",
      "default": "transparent"
    },
    {
      "type": "header",
      "content": "Desktop"
    }, 
    {
      "type": "range",
      "id": "section_padding_top",
      "min": 0,
      "max": 300,
      "step": 10,
      "unit": "px",
      "label": "Section padding-top",
      "default": 100
    },
    {
      "type": "range",
      "id": "section_padding_bottom",
      "min": 0,
      "max": 300,
      "step": 10,
      "unit": "px",
      "label": "Section padding-bottom",
      "default": 100
    }, 
    {
      "type": "header",
      "content": "Mobile"
    },
    {
      "type": "range",
      "id": "section_padding_top_mobile",
      "min": 0,
      "max": 300,
      "step": 10,
      "unit": "px",
      "label": "Section padding-top",
      "default": 50
    },
    {
      "type": "range",
      "id": "section_padding_bottom_mobile",
      "min": 0,
      "max": 300,
      "step": 10,
      "unit": "px",
      "label": "Section padding-bottom",
      "default": 50
    },
    {
      "type": "header",
      "content": "Customization"
    }, {
      "type": "textarea",
      "id": "custom_css",
      "label": "Custom CSS"
    }
  ],
  "blocks": [
    {
      "name": "Heading",
      "type": "heading",
      "limit": 1,
      "settings": [
        {
          "type": "textarea",
          "id": "heading_text",
          "label": "Heading text",
          "default": "Heading"
        },
        {
          "type": "select",
          "id": "heading_tag",
          "label": "Heading tag",
          "options": [
            {
              "value": "h1",
              "label": "H1"
            }, {
              "value": "h2",
              "label": "H2"
            }, {
              "value": "h3",
              "label": "H3"
            }
          ],
          "default": "h2"
        }
      ]
    },
    {
      "name": "Subheading",
      "type": "subheading",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "subheading_text",
          "label": "Subheading text",
          "default": "Subheading"
        }
      ]
    },
    {
      "name": "Text",
      "type": "text",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "section_text",
          "label": "Section text",
          "default": "<p>Section text</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "🚀SP - About Penelop",
      "blocks": [
        {
          "type": "heading",
          "settings": {
            "heading_text": "Create Good Content"
          }
        },
        {
          "type": "subheading",
          "settings": {
            "subheading_text": "Content is critical to successful website design"
          }
        },
        {
          "type": "text",
          "settings": {
            "section_text": "<p>Good content sets your website apart from the others and delivers the right message into the hearts and minds of your customers. The success of your website is determined primarily by its content. Ultimately, content wins the wallets of your customers.</p><p>Taglines and slogans that are customer-centric (i.e., that focus on the customer’s needs and wants) are essential to capturing the attention of your prospective customers.</p>"
          }
        }
      ]
    }
  ]
  
}

{% endschema %}