{% comment %}
  © Sections Pro. You are free to use this section in your store. You may not redistribute this section in another Shopify app.
{% endcomment %}
<style>

  {{ section.settings.text_font | font_face }}
  {{ section.settings.timer_font | font_face }}

  #sp-cdbanner-{{ section.id }}.sp-cdbanner-wrapper {
    background-image: {{ section.settings.background_color }};
  }

  #sp-cdbanner-{{ section.id }} .sp-headline {
    {% if section.settings.icon != 'none' %}
    display: grid;
    grid-template-columns: {{ section.settings.icon_size }}px 1fr;
    gap: 10px;
    align-items: center;
    {% endif %}
  }

  #sp-cdbanner-{{ section.id }} .sp-headline p,
  #sp-cdbanner-{{ section.id }} .sp-headline p a {
    font-size: {{ section.settings.text_size }}px;
    font-family: {{ section.settings.text_font.family }}, {{ section.settings.text_font.fallback_families }};
    font-weight: {{ section.settings.text_font.weight }};
    color: {{ section.settings.text_color }};
    line-height: 1.15;
    margin: 0;
    padding: 0;
    text-align: {{ section.settings.text_alignment }};
  }

  #sp-cdbanner-{{ section.id }} .sp-cdbanner-icon {
    fill: {{ section.settings.icon_color }};
    margin-right: 5px;
    width: {{ section.settings.icon_size }}px;
    height: {{ section.settings.icon_size }}px;
  }

  #sp-cdbanner-{{ section.id }} .sp-cdbanner {
    display: grid;
    grid-template-columns: 3fr 1fr;
    position: relative;
    margin: 0 auto;
    max-width: {{ section.settings.max_width }}px;
    padding: {{ section.settings.padding_top }}px {{ section.settings.padding_right }}px {{ section.settings.padding_bottom }}px {{ section.settings.padding_left }}px;
    align-items: center;
    gap: 10px;
  }

  #sp-cdbanner-{{ section.id }} .sp-cdbanner-grid {
    display: grid;
    grid-template-columns: 1fr 15px 1fr 15px 1fr 15px 1fr;
    gap: 1px;
  }

  #sp-cdbanner-{{ section.id }} .sp-cdbanner-grid-item {
    position: relative;
    background-image: {{ section.settings.countdown_background_color }};
    padding: 5px;
    text-align: center;
    border-radius: 5px;
  }

  #sp-cdbanner-{{ section.id }} .sp-cdbanner-tick {
    color: {{ section.settings.text_color }};
    font-size: 18px;
    font-weight: bold;
    display: block;
    text-align: center;
    width: 15px;
  }

  #sp-cdbanner-{{ section.id }} .sp-cdbanner-timer-container {
    text-align: center;
  }

  #sp-cdbanner-{{ section.id }} .sp-cdbanner-timer {
    font-family: {{ section.settings.timer_font.family }}, {{ section.settings.timer_font.fallback_families }};
    font-weight: {{ section.settings.timer_font.weight }};
    font-size: {{ section.settings.timer_size }}px;
    font-weight: bold;
    color: {{ section.settings.timer_color }};
  }
</style>

<!-- start content -->
<section id="sp-cdbanner-{{ section.id }}" class="sp-cdbanner-wrapper">

    <section class="sp-cdbanner">

      <div class="sp-headline">
        {% if section.settings.icon == "cart" %}
          <svg xmlns="http://www.w3.org/2000/svg" class="sp-cdbanner-icon" viewBox="0 -960 960 960"><path d="M280-80q-33 0-56.5-23.5T200-160q0-33 23.5-56.5T280-240q33 0 56.5 23.5T360-160q0 33-23.5 56.5T280-80Zm400 0q-33 0-56.5-23.5T600-160q0-33 23.5-56.5T680-240q33 0 56.5 23.5T760-160q0 33-23.5 56.5T680-80ZM246-720l96 200h280l110-200H246Zm-38-80h590q23 0 35 20.5t1 41.5L692-482q-11 20-29.5 31T622-440H324l-44 80h480v80H280q-45 0-68-39.5t-2-78.5l54-98-144-304H40v-80h130l38 80Zm134 280h280-280Z"/></svg>
        {% elsif section.settings.icon == "gift" %}
          <svg xmlns="http://www.w3.org/2000/svg" class="sp-cdbanner-icon" viewBox="0 -960 960 960"><path d="M160-80v-440H80v-240h208q-5-9-6.5-19t-1.5-21q0-50 35-85t85-35q23 0 43 8.5t37 23.5q17-16 37-24t43-8q50 0 85 35t35 85q0 11-2 20.5t-6 19.5h208v240h-80v440H160Zm400-760q-17 0-28.5 11.5T520-800q0 17 11.5 28.5T560-760q17 0 28.5-11.5T600-800q0-17-11.5-28.5T560-840Zm-200 40q0 17 11.5 28.5T400-760q17 0 28.5-11.5T440-800q0-17-11.5-28.5T400-840q-17 0-28.5 11.5T360-800ZM160-680v80h280v-80H160Zm280 520v-360H240v360h200Zm80 0h200v-360H520v360Zm280-440v-80H520v80h280Z"/></svg>
        {% elsif section.settings.icon == "gift-card" %}
          <svg xmlns="http://www.w3.org/2000/svg" class="sp-cdbanner-icon" viewBox="0 -960 960 960"><path d="M160-280v80h640v-80H160Zm0-440h88q-5-9-6.5-19t-1.5-21q0-50 35-85t85-35q30 0 55.5 15.5T460-826l20 26 20-26q18-24 44-39t56-15q50 0 85 35t35 85q0 11-1.5 21t-6.5 19h88q33 0 56.5 23.5T880-640v440q0 33-23.5 56.5T800-120H160q-33 0-56.5-23.5T80-200v-440q0-33 23.5-56.5T160-720Zm0 320h640v-240H596l84 114-64 46-136-184-136 184-64-46 82-114H160v240Zm200-320q17 0 28.5-11.5T400-760q0-17-11.5-28.5T360-800q-17 0-28.5 11.5T320-760q0 17 11.5 28.5T360-720Zm240 0q17 0 28.5-11.5T640-760q0-17-11.5-28.5T600-800q-17 0-28.5 11.5T560-760q0 17 11.5 28.5T600-720Z"/></svg>
        {% elsif section.settings.icon == "shipping" %}
          <svg xmlns="http://www.w3.org/2000/svg" class="sp-cdbanner-icon" viewBox="0 -960 960 960"><path d="M240-160q-50 0-85-35t-35-85H40v-440q0-33 23.5-56.5T120-800h560v160h120l120 160v200h-80q0 50-35 85t-85 35q-50 0-85-35t-35-85H360q0 50-35 85t-85 35Zm0-80q17 0 28.5-11.5T280-280q0-17-11.5-28.5T240-320q-17 0-28.5 11.5T200-280q0 17 11.5 28.5T240-240ZM120-360h32q17-18 39-29t49-11q27 0 49 11t39 29h272v-360H120v360Zm600 120q17 0 28.5-11.5T760-280q0-17-11.5-28.5T720-320q-17 0-28.5 11.5T680-280q0 17 11.5 28.5T720-240Zm-40-200h170l-90-120h-80v120ZM360-540Z"/></svg>
        {% elsif section.settings.icon == "payment" %}
          <svg xmlns="http://www.w3.org/2000/svg" class="sp-cdbanner-icon" viewBox="0 -960 960 960"><path d="M560-440q-50 0-85-35t-35-85q0-50 35-85t85-35q50 0 85 35t35 85q0 50-35 85t-85 35ZM280-320q-33 0-56.5-23.5T200-400v-320q0-33 23.5-56.5T280-800h560q33 0 56.5 23.5T920-720v320q0 33-23.5 56.5T840-320H280Zm80-80h400q0-33 23.5-56.5T840-480v-160q-33 0-56.5-23.5T760-720H360q0 33-23.5 56.5T280-640v160q33 0 56.5 23.5T360-400Zm440 240H120q-33 0-56.5-23.5T40-240v-440h80v440h680v80ZM280-400v-320 320Z"/></svg>
        {% elsif section.settings.icon == "trending" %}
          <svg xmlns="http://www.w3.org/2000/svg" class="sp-cdbanner-icon" viewBox="0 -960 960 960"><path d="m136-240-56-56 296-298 160 160 208-206H640v-80h240v240h-80v-104L536-320 376-480 136-240Z"/></svg>
        {% elsif section.settings.icon == "tag" %}
          <svg xmlns="http://www.w3.org/2000/svg" class="sp-cdbanner-icon" viewBox="0 -960 960 960"><path d="M570-104q-23 23-57 23t-57-23L104-456q-11-11-17.5-26T80-514v-286q0-33 23.5-56.5T160-880h286q17 0 32 6.5t26 17.5l352 353q23 23 23 56.5T856-390L570-104Zm-57-56 286-286-353-354H160v286l353 354ZM260-640q25 0 42.5-17.5T320-700q0-25-17.5-42.5T260-760q-25 0-42.5 17.5T200-700q0 25 17.5 42.5T260-640ZM160-800Z"/></svg>
        {% elsif section.settings.icon == "bag" %} 
          <svg xmlns="http://www.w3.org/2000/svg" class="sp-cdbanner-icon" viewBox="0 -960 960 960"><path d="M200-80q-33 0-56.5-23.5T120-160v-480q0-33 23.5-56.5T200-720h80q0-83 58.5-141.5T480-920q83 0 141.5 58.5T680-720h80q33 0 56.5 23.5T840-640v480q0 33-23.5 56.5T760-80H200Zm0-80h560v-480H200v480Zm280-240q83 0 141.5-58.5T680-600h-80q0 50-35 85t-85 35q-50 0-85-35t-35-85h-80q0 83 58.5 141.5T480-400ZM360-720h240q0-50-35-85t-85-35q-50 0-85 35t-35 85ZM200-160v-480 480Z"/></svg>
        {% elsif section.settings.icon == "heart" %}   
          <svg xmlns="http://www.w3.org/2000/svg" class="sp-cdbanner-icon" viewBox="0 -960 960 960"><path d="m480-120-58-52q-101-91-167-157T150-447.5Q111-500 95.5-544T80-634q0-94 63-157t157-63q52 0 99 22t81 62q34-40 81-62t99-22q94 0 157 63t63 157q0 46-15.5 90T810-447.5Q771-395 705-329T538-172l-58 52Zm0-108q96-86 158-147.5t98-107q36-45.5 50-81t14-70.5q0-60-40-100t-100-40q-47 0-87 26.5T518-680h-76q-15-41-55-67.5T300-774q-60 0-100 40t-40 100q0 35 14 70.5t50 81q36 45.5 98 107T480-228Zm0-273Z"/></svg>
        {% elsif section.settings.icon == "star" %}     
          <svg xmlns="http://www.w3.org/2000/svg" class="sp-cdbanner-icon" viewBox="0 -960 960 960"><path d="m354-247 126-76 126 77-33-144 111-96-146-13-58-136-58 135-146 13 111 97-33 143ZM233-80l65-281L80-550l288-25 112-265 112 265 288 25-218 189 65 281-247-149L233-80Zm247-350Z"/></svg>
        {% elsif section.settings.icon == "leaf" %}   
          <svg xmlns="http://www.w3.org/2000/svg" class="sp-cdbanner-icon" viewBox="0 -960 960 960"><path d="M216-176q-45-45-70.5-104T120-402q0-63 24-124.5T222-642q35-35 86.5-60t122-39.5Q501-756 591.5-759t202.5 7q8 106 5 195t-16.5 160.5q-13.5 71.5-38 125T684-182q-53 53-112.5 77.5T450-80q-65 0-127-25.5T216-176Zm112-16q29 17 59.5 24.5T450-160q46 0 91-18.5t86-59.5q18-18 36.5-50.5t32-85Q709-426 716-500.5t2-177.5q-49-2-110.5-1.5T485-670q-61 9-116 29t-90 55q-45 45-62 89t-17 85q0 59 22.5 103.5T262-246q42-80 111-153.5T534-520q-72 63-125.5 142.5T328-192Zm0 0Zm0 0Z"/></svg>
        {% elsif section.settings.icon == "paw" %}  
          <svg xmlns="http://www.w3.org/2000/svg" class="sp-cdbanner-icon" viewBox="0 -960 960 960"><path d="M180-475q-42 0-71-29t-29-71q0-42 29-71t71-29q42 0 71 29t29 71q0 42-29 71t-71 29Zm180-160q-42 0-71-29t-29-71q0-42 29-71t71-29q42 0 71 29t29 71q0 42-29 71t-71 29Zm240 0q-42 0-71-29t-29-71q0-42 29-71t71-29q42 0 71 29t29 71q0 42-29 71t-71 29Zm180 160q-42 0-71-29t-29-71q0-42 29-71t71-29q42 0 71 29t29 71q0 42-29 71t-71 29ZM266-75q-45 0-75.5-34.5T160-191q0-52 35.5-91t70.5-77q29-31 50-67.5t50-68.5q22-26 51-43t63-17q34 0 63 16t51 42q28 32 49.5 69t50.5 69q35 38 70.5 77t35.5 91q0 47-30.5 81.5T694-75q-54 0-107-9t-107-9q-54 0-107 9t-107 9Z"/></svg>
        {% elsif section.settings.icon == "shield" %}
          <svg xmlns="http://www.w3.org/2000/svg" class="sp-cdbanner-icon" viewBox="0 -960 960 960"><path d="m438-338 226-226-57-57-169 169-84-84-57 57 141 141Zm42 258q-139-35-229.5-159.5T160-516v-244l320-120 320 120v244q0 152-90.5 276.5T480-80Zm0-84q104-33 172-132t68-220v-189l-240-90-240 90v189q0 121 68 220t172 132Zm0-316Z"/></svg>
        {% elsif section.settings.icon == "percent" %}
          <svg xmlns="http://www.w3.org/2000/svg" class="sp-cdbanner-icon" viewBox="0 -960 960 960"><path d="M300-520q-58 0-99-41t-41-99q0-58 41-99t99-41q58 0 99 41t41 99q0 58-41 99t-99 41Zm0-80q25 0 42.5-17.5T360-660q0-25-17.5-42.5T300-720q-25 0-42.5 17.5T240-660q0 25 17.5 42.5T300-600Zm360 440q-58 0-99-41t-41-99q0-58 41-99t99-41q58 0 99 41t41 99q0 58-41 99t-99 41Zm0-80q25 0 42.5-17.5T720-300q0-25-17.5-42.5T660-360q-25 0-42.5 17.5T600-300q0 25 17.5 42.5T660-240Zm-444 80-56-56 584-584 56 56-584 584Z"/></svg>
        {% elsif section.settings.icon == "timer" %}
          <svg xmlns="http://www.w3.org/2000/svg" class="sp-cdbanner-icon" viewBox="0 -960 960 960"><path d="M360-840v-80h240v80H360Zm80 440h80v-240h-80v240Zm40 320q-74 0-139.5-28.5T226-186q-49-49-77.5-114.5T120-440q0-74 28.5-139.5T226-694q49-49 114.5-77.5T480-800q62 0 119 20t107 58l56-56 56 56-56 56q38 50 58 107t20 119q0 74-28.5 139.5T734-186q-49 49-114.5 77.5T480-80Zm0-80q116 0 198-82t82-198q0-116-82-198t-198-82q-116 0-198 82t-82 198q0 116 82 198t198 82Zm0-280Z"/></svg>
        {% elsif section.settings.icon == "bank" %}
          <svg xmlns="http://www.w3.org/2000/svg" class="sp-cdbanner-icon" viewBox="0 -960 960 960"><path d="M640-520q17 0 28.5-11.5T680-560q0-17-11.5-28.5T640-600q-17 0-28.5 11.5T600-560q0 17 11.5 28.5T640-520Zm-320-80h200v-80H320v80ZM180-120q-34-114-67-227.5T80-580q0-92 64-156t156-64h200q29-38 70.5-59t89.5-21q25 0 42.5 17.5T720-820q0 6-1.5 12t-3.5 11q-4 11-7.5 22.5T702-751l91 91h87v279l-113 37-67 224H480v-80h-80v80H180Zm60-80h80v-80h240v80h80l62-206 98-33v-141h-40L620-720q0-20 2.5-38.5T630-796q-29 8-51 27.5T547-720H300q-58 0-99 41t-41 99q0 98 27 191.5T240-200Zm240-298Z"/></svg>
        {% elsif section.settings.icon == "box" %}
          <svg xmlns="http://www.w3.org/2000/svg" class="sp-cdbanner-icon" viewBox="0 -960 960 960"><path d="M200-640v440h560v-440H640v320l-160-80-160 80v-320H200Zm0 520q-33 0-56.5-23.5T120-200v-499q0-14 4.5-27t13.5-24l50-61q11-14 27.5-21.5T250-840h460q18 0 34.5 7.5T772-811l50 61q9 11 13.5 24t4.5 27v499q0 33-23.5 56.5T760-120H200Zm16-600h528l-34-40H250l-34 40Zm184 80v190l80-40 80 40v-190H400Zm-200 0h560-560Z"/></svg>
        {% elsif section.settings.icon == "map" %}
          <svg xmlns="http://www.w3.org/2000/svg" class="sp-cdbanner-icon" viewBox="0 -960 960 960"><path d="m600-120-240-84-186 72q-20 8-37-4.5T120-170v-560q0-13 7.5-23t20.5-15l212-72 240 84 186-72q20-8 37 4.5t17 33.5v560q0 13-7.5 23T812-192l-212 72Zm-40-98v-468l-160-56v468l160 56Zm80 0 120-40v-474l-120 46v468Zm-440-10 120-46v-468l-120 40v474Zm440-458v468-468Zm-320-56v468-468Z"/></svg>
        {% elsif section.settings.icon == "package" %}
          <svg xmlns="http://www.w3.org/2000/svg" class="sp-cdbanner-icon" viewBox="0 -960 960 960"><path d="M440-183v-274L200-596v274l240 139Zm80 0 240-139v-274L520-457v274Zm-80 92L160-252q-19-11-29.5-29T120-321v-318q0-22 10.5-40t29.5-29l280-161q19-11 40-11t40 11l280 161q19 11 29.5 29t10.5 40v318q0 22-10.5 40T800-252L520-91q-19 11-40 11t-40-11Zm200-528 77-44-237-137-78 45 238 136Zm-160 93 78-45-237-137-78 45 237 137Z"/></svg>
        {% elsif section.settings.icon == "return" %}
          <svg xmlns="http://www.w3.org/2000/svg" class="sp-cdbanner-icon" viewBox="0 -960 960 960"><path d="M314-115q-104-48-169-145T80-479q0-26 2.5-51t8.5-49l-46 27-40-69 191-110 110 190-70 40-54-94q-11 27-16.5 56t-5.5 60q0 97 53 176.5T354-185l-40 70Zm306-485v-80h109q-46-57-111-88.5T480-800q-55 0-104 17t-90 48l-40-70q50-35 109-55t125-20q79 0 151 29.5T760-765v-55h80v220H620ZM594 0 403-110l110-190 69 40-57 98q118-17 196.5-107T800-480q0-11-.5-20.5T797-520h81q1 10 1.5 19.5t.5 20.5q0 135-80.5 241.5T590-95l44 26-40 69Z"/></svg>
        {% elsif section.settings.icon == "chat" %}
          <svg xmlns="http://www.w3.org/2000/svg" class="sp-cdbanner-icon" viewBox="0 -960 960 960"><path d="M80-80v-720q0-33 23.5-56.5T160-880h640q33 0 56.5 23.5T880-800v480q0 33-23.5 56.5T800-240H240L80-80Zm126-240h594v-480H160v525l46-45Zm-46 0v-480 480Z"/></svg>
        {% elsif section.settings.icon == "email" %}
          <svg xmlns="http://www.w3.org/2000/svg" class="sp-cdbanner-icon" viewBox="0 -960 960 960"><path d="M160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h640q33 0 56.5 23.5T880-720v480q0 33-23.5 56.5T800-160H160Zm320-280L160-640v400h640v-400L480-440Zm0-80 320-200H160l320 200ZM160-640v-80 480-400Z"/></svg>
        {% elsif section.settings.icon == "handshake" %} 
          <svg xmlns="http://www.w3.org/2000/svg" class="sp-cdbanner-icon" viewBox="0 -960 960 960"><path d="M475-160q4 0 8-2t6-4l328-328q12-12 17.5-27t5.5-30q0-16-5.5-30.5T817-607L647-777q-11-12-25.5-17.5T591-800q-15 0-30 5.5T534-777l-11 11 74 75q15 14 22 32t7 38q0 42-28.5 70.5T527-522q-20 0-38.5-7T456-550l-75-74-175 175q-3 3-4.5 6.5T200-435q0 8 6 14.5t14 6.5q4 0 8-2t6-4l136-136 56 56-135 136q-3 3-4.5 6.5T285-350q0 8 6 14t14 6q4 0 8-2t6-4l136-135 56 56-135 136q-3 2-4.5 6t-1.5 8q0 8 6 14t14 6q4 0 7.5-1.5t6.5-4.5l136-135 56 56-136 136q-3 3-4.5 6.5T454-180q0 8 6.5 14t14.5 6Zm-1 80q-37 0-65.5-24.5T375-166q-34-5-57-28t-28-57q-34-5-56.5-28.5T206-336q-38-5-62-33t-24-66q0-20 7.5-38.5T149-506l232-231 131 131q2 3 6 4.5t8 1.5q9 0 15-5.5t6-14.5q0-4-1.5-8t-4.5-6L398-777q-11-12-25.5-17.5T342-800q-15 0-30 5.5T285-777L144-635q-9 9-15 21t-8 24q-2 12 0 24.5t8 23.5l-58 58q-17-23-25-50.5T40-590q2-28 14-54.5T87-692l141-141q24-23 53.5-35t60.5-12q31 0 60.5 12t52.5 35l11 11 11-11q24-23 53.5-35t60.5-12q31 0 60.5 12t52.5 35l169 169q23 23 35 53t12 61q0 31-12 60.5T873-437L545-110q-14 14-32.5 22T474-80Zm-99-560Z"/></svg>
        {% elsif section.settings.icon == "thumbsup" %} 
          <svg xmlns="http://www.w3.org/2000/svg" class="sp-cdbanner-icon" viewBox="0 -960 960 960"><path d="M720-120H280v-520l280-280 50 50q7 7 11.5 19t4.5 23v14l-44 174h258q32 0 56 24t24 56v80q0 7-2 15t-4 15L794-168q-9 20-30 34t-44 14Zm-360-80h360l120-280v-80H480l54-220-174 174v406Zm0-406v406-406Zm-80-34v80H160v360h120v80H80v-520h200Z"/></svg>
        {% elsif section.settings.icon == "gaming" %} 
          <svg xmlns="http://www.w3.org/2000/svg" class="sp-cdbanner-icon" viewBox="0 -960 960 960"><path d="M189-160q-60 0-102.5-43T42-307q0-9 1-18t3-18l84-336q14-54 57-87.5t98-33.5h390q55 0 98 33.5t57 87.5l84 336q2 9 3.5 18.5T919-306q0 61-43.5 103.5T771-160q-42 0-78-22t-54-60l-28-58q-5-10-15-15t-21-5H385q-11 0-21 5t-15 15l-28 58q-18 38-54 60t-78 22Zm3-80q19 0 34.5-10t23.5-27l28-57q15-31 44-48.5t63-17.5h190q34 0 63 18t45 48l28 57q8 17 23.5 27t34.5 10q28 0 48-18.5t21-46.5q0 1-2-19l-84-335q-7-27-28-44t-49-17H285q-28 0-49.5 17T208-659l-84 335q-2 6-2 18 0 28 20.5 47t49.5 19Zm348-280q17 0 28.5-11.5T580-560q0-17-11.5-28.5T540-600q-17 0-28.5 11.5T500-560q0 17 11.5 28.5T540-520Zm80-80q17 0 28.5-11.5T660-640q0-17-11.5-28.5T620-680q-17 0-28.5 11.5T580-640q0 17 11.5 28.5T620-600Zm0 160q17 0 28.5-11.5T660-480q0-17-11.5-28.5T620-520q-17 0-28.5 11.5T580-480q0 17 11.5 28.5T620-440Zm80-80q17 0 28.5-11.5T740-560q0-17-11.5-28.5T700-600q-17 0-28.5 11.5T660-560q0 17 11.5 28.5T700-520Zm-360 60q13 0 21.5-8.5T370-490v-40h40q13 0 21.5-8.5T440-560q0-13-8.5-21.5T410-590h-40v-40q0-13-8.5-21.5T340-660q-13 0-21.5 8.5T310-630v40h-40q-13 0-21.5 8.5T240-560q0 13 8.5 21.5T270-530h40v40q0 13 8.5 21.5T340-460Zm140-20Z"/></svg>
        {% elsif section.settings.icon == "support" %} 
          <svg xmlns="http://www.w3.org/2000/svg" class="sp-cdbanner-icon" viewBox="0 -960 960 960"><path d="M480-40v-80h280v-40H600v-320h160v-40q0-116-82-198t-198-82q-116 0-198 82t-82 198v40h160v320H200q-33 0-56.5-23.5T120-240v-280q0-74 28.5-139.5T226-774q49-49 114.5-77.5T480-880q74 0 139.5 28.5T734-774q49 49 77.5 114.5T840-520v400q0 33-23.5 56.5T760-40H480ZM200-240h80v-160h-80v160Zm480 0h80v-160h-80v160ZM200-400h80-80Zm480 0h80-80Z"/></svg>
        {% elsif section.settings.icon == "phone" %} 
          <svg xmlns="http://www.w3.org/2000/svg" class="sp-cdbanner-icon" viewBox="0 -960 960 960"><path d="M280-40q-33 0-56.5-23.5T200-120v-720q0-33 23.5-56.5T280-920h400q33 0 56.5 23.5T760-840v720q0 33-23.5 56.5T680-40H280Zm0-200v120h400v-120H280Zm200 100q17 0 28.5-11.5T520-180q0-17-11.5-28.5T480-220q-17 0-28.5 11.5T440-180q0 17 11.5 28.5T480-140ZM280-320h400v-400H280v400Zm0-480h400v-40H280v40Zm0 560v120-120Zm0-560v-40 40Z"/></svg>
        {% endif %}

        {% if section.settings.text %}<p>{{ section.settings.text }}</p>{% endif %}
      </div>

      <div class="sp-cdbanner-grid">
        <div class="sp-cdbanner-grid-item">
          <div class="sp-cdbanner-timer-container">
            <span id="sp-cdbanner-{{ section.id }}-days" class="sp-cdbanner-timer">00</span>
          </div>
        </div>
        <div><span class="sp-cdbanner-tick">:</span></div>
        <div class="sp-cdbanner-grid-item">
          <div class="sp-cdbanner-timer-container">
            <span id="sp-cdbanner-{{ section.id }}-hours" class="sp-cdbanner-timer">00</span>
          </div>
        </div>
        <div><span class="sp-cdbanner-tick">:</span></div>
        <div class="sp-cdbanner-grid-item">
          <div class="sp-cdbanner-timer-container">
            <span id="sp-cdbanner-{{ section.id }}-minutes" class="sp-cdbanner-timer">00</span>
          </div>
        </div>
        <div><span class="sp-cdbanner-tick">:</span></div>
        <div class="sp-cdbanner-grid-item">
          <div class="sp-cdbanner-timer-container">
            <span id="sp-cdbanner-{{ section.id }}-seconds" class="sp-cdbanner-timer">00</span>
          </div>
        </div>
      </div>
    </section>
  
  </section>
  <!-- end Sections.AI content -->

  <script>
    function startCountdown() {

      var daysElement = document.getElementById('sp-cdbanner-{{ section.id }}-days');
      var hoursElement = document.getElementById('sp-cdbanner-{{ section.id }}-hours');
      var minutesElement = document.getElementById('sp-cdbanner-{{ section.id }}-minutes');
      var secondsElement = document.getElementById('sp-cdbanner-{{ section.id }}-seconds');

      var countdownInterval = setInterval(function () {

        var end = new Date('{{ section.settings.end_date }} 12:00 AM');
        
        var now = new Date();
        var distance = end - now;

        // defaults
        var _second = 1000;
        var _minute = _second * 60;
        var _hour = _minute * 60;
        var _day = _hour * 24;
        
        var days = Math.floor(distance / _day);
        var hours = Math.floor((distance % _day) / _hour);
        var minutes = Math.floor((distance % _hour) / _minute);
        var seconds = Math.floor((distance % _minute) / _second);

        if (hours === 0 && minutes === 0 && seconds === 0) {
          clearInterval(countdownInterval);
          return;
        }

        if (seconds === 0) {
          seconds = 59;

          if (minutes === 0) {
            minutes = 59;
            hours--;
          } else {
            minutes--;
          }
        } else {
          seconds--;
        }

        daysElement.innerText = days.toString().padStart(2, '0');
        hoursElement.innerText = hours.toString().padStart(2, '0');
        minutesElement.innerText = minutes.toString().padStart(2, '0');
        secondsElement.innerText = seconds.toString().padStart(2, '0');
      }, 1000);
    }

    startCountdown();
  </script>
  <!-- end snippet code -->

  <!-- start schema -->
  {% schema %}
  {
    "name": "🚀SP - Count Down Banner",
    "settings": [
      {
        "type": "header",
        "content": "Text",
        "info": "Set the text size for your widget"
      },
      {
        "type": "font_picker",
        "id": "text_font",
        "label": "Text Font",
        "default": "sans-serif"
      },
      {
        "type": "range",
        "id": "text_size",
        "min": 10,
        "max": 50,
        "step": 1,
        "unit": "px",
        "label": "Text Size",
        "default": 15
      },
      {
        "type": "font_picker",
        "id": "timer_font",
        "label": "Timer Font",
        "default": "sans-serif"
      },
      {
        "type": "range",
        "id": "timer_size",
        "min": 10,
        "max": 25,
        "step": 1,
        "unit": "px",
        "label": "Timer Size",
        "default": 15
      },
      {
        "type": "range",
        "id": "icon_size",
        "min": 10,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Icon Size",
        "default": 30
      },
      {
        "type": "color_background",
        "id": "background_color",
        "default": "linear-gradient(164deg, #111 0%, #222 100%)",
        "label": "Background Color"
      },
      {
        "type": "color_background",
        "id": "countdown_background_color",
        "default": "linear-gradient(164deg, #fff 0%, #fff 100%)",
        "label": "Countdown Background Color"
      },
      {
        "type": "color",
        "id": "icon_color",
        "default": "#0D8BF4",
        "label": "Icon Color"
      },
      {
        "type": "color",
        "id": "text_color",
        "default": "#fff",
        "label": "Text Color"
      },
      {
        "type": "color",
        "id": "headline_color",
        "default": "#fff",
        "label": "Headline Color"
      },
      {
        "type": "color",
        "id": "timer_color",
        "default": "#111",
        "label": "Timer Color"
      },
      {
        "type": "header",
        "content": "Alignment",
        "info": "Set alignment of the text."
      },
      {
          "type": "select",
          "id": "text_alignment",
          "default": "left",
          "label": "Text Alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ]
      },
      {
        "type": "header",
        "content": "Dimensions",
        "info": "Set the section dimensions in pixels."
      },
      {
        "type": "number",
        "id": "max_width",
        "default": 1000,
        "label": "Max Width of Section"
      },
      {
        "type": "number",
        "id": "padding_top",
        "default": 25,
        "label": "Padding Top"
      },
      {
        "type": "number",
        "id": "padding_bottom",
        "default": 25,
        "label": "Padding Bottom"
      },
      {
        "type": "number",
        "id": "padding_left",
        "default": 10,
        "label": "Padding Left"
      },
      {
        "type": "number",
        "id": "padding_right",
        "default": 10,
        "label": "Padding Right"
      },
      {
        "type": "header",
        "content": "Content",
        "info": "Customize the text for the product"
      },
      {
        "type": "text",
        "id": "end_date",
        "placeholder": "mm/dd/yyyy",
        "label": "End Date"
      },
      {
        "type": "select",
        "id": "icon",
        "label": "Icon",
        "options": [
          {
            "value": "none",
            "label": "No Icon"
          },
          {
            "value": "cart",
            "label": "Cart"
          },
          {
            "value": "gift",
            "label": "Gift"
          },
          {
            "value": "gift-card",
            "label": "Gift Card"
          },
          {
            "value": "shipping",
            "label": "Shipping"
          },
          {
            "value": "payment",
            "label": "Payment"
          },
          {
            "value": "trending",
            "label": "Trending"
          },
          {
            "value": "tag",
            "label": "Tag"
          },
          {
            "value": "bag",
            "label": "Bag"
          },
          {
            "value": "heart",
            "label": "Heart"
          },
          {
            "value": "star",
            "label": "Star"
          },
          {
            "value": "paw",
            "label": "Paw"
          },
          {
            "value": "leaf",
            "label": "Leaf"
          },
          {
            "value": "shield",
            "label": "Shield"
          },
          {
            "value": "percent",
            "label": "Percent"
          },
          {
            "value": "timer",
            "label": "Timer"
          },
          {
            "value": "bank",
            "label": "Bank"
          },
          {
            "value": "box",
            "label": "Box"
          },
          {
            "value": "map",
            "label": "Map"
          },
          {
            "value": "package",
            "label": "Package"
          },
          {
            "value": "return",
            "label": "Return"
          },
          {
            "value": "chat",
            "label": "Chat"
          },
          {
            "value": "email",
            "label": "Email"
          },
          {
            "value": "handshake",
            "label": "Handshake"
          },
          {
            "value": "thumbsup",
            "label": "Thumbs Up"
          },
          {
            "value": "gaming",
            "label": "Gaming"
          },
          {
            "value": "support",
            "label": "Support"
          },
          {
            "value": "phone",
            "label": "Phone"
          }
        ],
        "default": "tag"
      },
      {
        "type": "inline_richtext",
        "id": "text",
        "label": "Content",
        "default": "Sample content"
      }
    ],
    "blocks": [],
    "presets": [
      {
        "name": "🚀SP - Count Down Banner",
        "category": "Custom"
      }
    ]
  }
  {% endschema %}
  <!-- end schema -->
  