{% comment %}
  © Sections Pro. You are free to use this section in your store. You may not redistribute this section in another Shopify app.
{% endcomment %}
<style>

  {{ section.settings.text_font | font_face }}
  {{ section.settings.headline_font | font_face }}

  #sp-cd-{{ section.id }} {
    background-image: {{ section.settings.background_color }};
  }

  #sp-cd-{{ section.id }} .sp-cd-headline p {
    font-size: {{ section.settings.text_size }}px;
    font-family: {{ section.settings.text_font.family }}, {{ section.settings.text_font.fallback_families }};
    font-weight: {{ section.settings.text_font.weight }};
    color: {{ section.settings.text_color }};
    line-height: 1.15;
    margin: 0;
    padding: 0 0 25px 0;
    text-align: {{ section.settings.text_alignment }};
  }

  #sp-cd-{{ section.id }} .sp-cd-headline h2 {
    font-size: {{ section.settings.headline_size }}px;
    font-family: {{ section.settings.headline_font.family }}, {{ section.settings.headline_font.fallback_families }};
    font-weight: {{ section.settings.headline_font.weight }};
    color: {{ section.settings.headline_color }};
    line-height: 1.15;
    margin: 0;
    padding: 0 0 5px 0;
    text-align: {{ section.settings.text_alignment }};
  }

  #sp-cd-{{ section.id }} .sp-cd {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: {{ section.settings.max_width }}px;
    padding: {{ section.settings.padding_top }}px {{ section.settings.padding_right }}px {{ section.settings.padding_bottom }}px {{ section.settings.padding_left }}px;
    align-items: center;
  }

  #sp-cd-{{ section.id }} .sp-cd-grid-item {
    background-image: {{ section.settings.countdown_background_color }};
    padding: 20px;
    text-align: center;
    border-radius: 5px;
  }

  #sp-cd-{{ section.id }} .sp-timer {
    font-size: {{ section.settings.timer_size }}px;
    font-weight: bold;
    color: {{ section.settings.timer_color }};
  }

  #sp-cd-{{ section.id }} .sp-label {
    font-size: {{ section.settings.text_size }}px;
    font-weight: bold;
    color: {{ section.settings.timer_color }};
    display: block;
  }

  #sp-cd-{{ section.id }} .sp-cd-wrapper {
    position: relative;
    padding: 10px;
    margin: 0;
  }

  #sp-cd-{{ section.id }} .sp-cd-wrapper * {
    box-sizing: border-box;
  }
  
  #sp-cd-{{ section.id }} .sp-cd-grid {
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
  }

  @media only screen and (max-width: 800px) {
    #sp-cd-{{ section.id }} .sp-cd-grid {
      grid-template-columns: 1fr 1fr;
      gap: 10px;
    }
  }
  
  #sp-cd-{{ section.id }} .sp-cd-wrapper h2 {
    font-weight: bold;
    font-size: 22pt;
    margin: 0 0 25px 0;
    padding: 0;
  }

  #sp-cd-{{ section.id }} .sp-cd-wrapper p {
    font-size: 13pt;
    margin: 0 0 25px 0;
    padding: 0;
  }
</style>

<!-- start content -->
<section id="sp-cd-{{ section.id }}" class="sp-cd-wrapper">

    <section class="sp-cd">

      <div class="sp-cd-headline">
        {% if section.settings.headline %}<h2>{{ section.settings.headline }}</h2>{% endif %}
        {% if section.settings.text %}<p>{{ section.settings.text }}</p>{% endif %}
      </div>

      <div class="sp-cd-grid">
        <div class="sp-cd-grid-item">
          <div class="sp-cd">
            <span id="sp-cd-{{ section.id }}-days" class="sp-timer">00</span>
            <span class="sp-label">days</span>
          </div>
        </div>
        <div class="sp-cd-grid-item">
          <div class="sp-cd">
            <span id="sp-cd-{{ section.id }}-hours" class="sp-timer">00</span>
            <span class="sp-label">hours</span>
          </div>
        </div>
        <div class="sp-cd-grid-item">
          <div class="sp-cd">
            <span id="sp-cd-{{ section.id }}-minutes" class="sp-timer">00</span>
            <span class="sp-label">minutes</span>
          </div>
        </div>
        <div class="sp-cd-grid-item">
          <div class="sp-cd">
            <span id="sp-cd-{{ section.id }}-seconds" class="sp-timer">00</span>
            <span class="sp-label">seconds</span>
          </div>
        </div>
      </div>
    </section>
  
  </section>
  <!-- end Sections.AI content -->

  <script>
    function startCountdown() {

      var daysElement = document.getElementById('sp-cd-{{ section.id }}-days');
      var hoursElement = document.getElementById('sp-cd-{{ section.id }}-hours');
      var minutesElement = document.getElementById('sp-cd-{{ section.id }}-minutes');
      var secondsElement = document.getElementById('sp-cd-{{ section.id }}-seconds');

      var countdownInterval = setInterval(function () {

        var end = new Date('{{ section.settings.end_date }} 12:00 AM');
        
        var now = new Date();
        var distance = end - now;

        // defaults
        var _second = 1000;
        var _minute = _second * 60;
        var _hour = _minute * 60;
        var _day = _hour * 24;
        
        var days = Math.floor(distance / _day);
        var hours = Math.floor((distance % _day) / _hour);
        var minutes = Math.floor((distance % _hour) / _minute);
        var seconds = Math.floor((distance % _minute) / _second);

        if (hours === 0 && minutes === 0 && seconds === 0) {
          clearInterval(countdownInterval);
          return;
        }

        if (seconds === 0) {
          seconds = 59;

          if (minutes === 0) {
            minutes = 59;
            hours--;
          } else {
            minutes--;
          }
        } else {
          seconds--;
        }

        daysElement.innerText = days.toString().padStart(2, '0');
        hoursElement.innerText = hours.toString().padStart(2, '0');
        minutesElement.innerText = minutes.toString().padStart(2, '0');
        secondsElement.innerText = seconds.toString().padStart(2, '0');
      }, 1000);
    }

    startCountdown();
  </script>
  <!-- end snippet code -->

  <!-- start schema -->
  {% schema %}
  {
    "name": "🚀SP - Count Down to Dat",
    "settings": [
      {
        "type": "header",
        "content": "Text",
        "info": "Set the text size for your widget"
      },
      {
        "type": "font_picker",
        "id": "text_font",
        "label": "Text Font",
        "default": "sans-serif"
      },
      {
        "type": "range",
        "id": "text_size",
        "min": 10,
        "max": 50,
        "step": 1,
        "unit": "px",
        "label": "Text Size",
        "default": 15
      },
      {
        "type": "range",
        "id": "timer_size",
        "min": 10,
        "max": 100,
        "step": 5,
        "unit": "px",
        "label": "Timer Size",
        "default": 50
      },
      {
        "type": "font_picker",
        "id": "headline_font",
        "label": "Headline Font",
        "default": "sans-serif"
      },
      {
        "type": "range",
        "id": "headline_size",
        "min": 10,
        "max": 50,
        "step": 1,
        "unit": "px",
        "label": "Headline Size",
        "default": 25
      },
      {
        "type": "color_background",
        "id": "background_color",
        "label": "Background Color"
      },
      {
        "type": "color_background",
        "id": "countdown_background_color",
        "default": "linear-gradient(164deg, #111 0%, #555 100%)",
        "label": "Countdown Background Color"
      },
      {
        "type": "color",
        "id": "text_color",
        "default": "#111",
        "label": "Text Color"
      },
      {
        "type": "color",
        "id": "headline_color",
        "default": "#111",
        "label": "Headline Color"
      },
      {
        "type": "color",
        "id": "timer_color",
        "default": "#FFF",
        "label": "Timer Color"
      },
      {
        "type": "header",
        "content": "Alignment",
        "info": "Set alignment of the text."
      },
      {
          "type": "select",
          "id": "text_alignment",
          "default": "center",
          "label": "Text Alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ]
      },
      {
        "type": "header",
        "content": "Dimensions",
        "info": "Set the section dimensions in pixels."
      },
      {
        "type": "number",
        "id": "max_width",
        "default": 1000,
        "label": "Max Width of Section"
      },
      {
        "type": "number",
        "id": "padding_top",
        "default": 25,
        "label": "Padding Top"
      },
      {
        "type": "number",
        "id": "padding_bottom",
        "default": 25,
        "label": "Padding Bottom"
      },
      {
        "type": "number",
        "id": "padding_left",
        "default": 10,
        "label": "Padding Left"
      },
      {
        "type": "number",
        "id": "padding_right",
        "default": 10,
        "label": "Padding Right"
      },
      {
        "type": "header",
        "content": "Content",
        "info": "Customize the text for the product"
      },
      {
        "type": "text",
        "id": "end_date",
        "placeholder": "dd/mm/yyyy",
        "label": "End Date"
      },
      {
        "type": "inline_richtext",
        "id": "headline",
        "label": "Headline",
        "default": "<b>Sample headline</b>"
      },
      {
        "type": "inline_richtext",
        "id": "text",
        "label": "Content",
        "default": "Sample content"
      }
    ],
    "blocks": [],
    "presets": [
      {
        "name": "🚀SP - Count Down to Dat",
        "category": "Custom"
      }
    ]
  }
  {% endschema %}
  <!-- end schema -->
  