{% comment %}
  © Sections Pro. You are free to use this section in your store. You may not redistribute this section in another Shopify app.
{% endcomment %}
<style>

  {{ section.settings.text_font | font_face }}
  {{ section.settings.headline_font | font_face }}

  @keyframes animateFAQ {
    from {opacity: 0; }
    to {opacity: 1; }
  }

  #sp-faqi-{{ section.id }}.sp-faqi-wrap p {
    font-size: {{ section.settings.text_size }}px;
    font-family: {{ section.settings.text_font.family }}, {{ section.settings.text_font.fallback_families }};
    font-weight: {{ section.settings.text_font.weight }};
    line-height: 1.15;
  }

  #sp-faqi-{{ section.id }}.sp-faqi-wrap h3 {
    font-size: {{ section.settings.headline_size }}px;
    font-family: {{ section.settings.headline_font.family }}, {{ section.settings.headline_font.fallback_families }};
    font-weight: {{ section.settings.headline_font.weight }};
    line-height: 1.15;
  }

  #sp-faqi-{{ section.id }}.sp-faqi-wrap {
    background-image: {{ section.settings.background_color }};
    width: 100%;
  }
  
  #sp-faqi-{{ section.id }} .sp-faqi {
    position: relative;
    margin: 0 auto;
    max-width: {{ section.settings.max_width }}px;
    padding: {{ section.settings.padding_top }}px {{ section.settings.padding_right }}px {{ section.settings.padding_bottom }}px {{ section.settings.padding_left }}px;
  }
  
  #sp-faqi-{{ section.id }} .sp-faqi .sp-faqi-grid {
    position: relative;
    margin: 0 auto;
    max-width: 1000px;
  }

  #sp-faqi-{{ section.id }} .sp-faqi .sp-faqi-grid-left {
    display: grid;
    {% if section.settings.image_aspect_ratio == "21 / 9" %}
    grid-template-columns: 3fr 1fr;
    {% elsif section.settings.image_aspect_ratio == "16 / 9"%}
    grid-template-columns: 2fr 1fr;
    {% else %}
    grid-template-columns: 1fr 1fr;
    {% endif %}
    align-items: {{ section.settings.vertical_alignment }};
    gap: 30px;
  }

  #sp-faqi-{{ section.id }} .sp-faqi .sp-faqi-grid-right {
    display: grid;
    {% if section.settings.image_aspect_ratio == "21 / 9" %}
    grid-template-columns: 1fr 3fr;
    {% elsif section.settings.image_aspect_ratio == "16 / 9"%}
    grid-template-columns: 1fr 2fr;
    {% else %}
    grid-template-columns: 1fr 1fr;
    {% endif %}
    align-items: {{ section.settings.vertical_alignment }};
    gap: 20px;
  }

  #sp-faqi-{{ section.id }} .sp-faqi .sp-faqi-grid-left .sp-faqi-column-image {
    grid-column: 1;
    grid-row: 1;
  }
  
  #sp-faqi-{{ section.id }} .sp-faqi .sp-faqi-grid-left .sp-faqi-column-text {
    grid-column: 2;
    grid-row: 1;
  }

  #sp-faqi-{{ section.id }} .sp-faqi .sp-faqi-grid-right .sp-faqi-column-image {
    grid-column: 2;
    grid-row: 1;
  }
  
  #sp-faqi-{{ section.id }} .sp-faqi .sp-faqi-grid-right .sp-faqi-column-text {
    grid-column: 1;
    grid-row: 1;
  }

  #sp-faqi-{{ section.id }} .sp-faqi .sp-faqi-grid img {
    aspect-ratio: {{ section.settings.image_aspect_ratio }};
    object-fit: cover;
    width: 100%;
    display: block;
    border-radius: {{ section.settings.media_radius }}%;
    {% if section.settings.media_shadow %}box-shadow: 0 0 5px 0 rgba(0,0,0,0.20);{% endif %}
  }

  @media only screen and (max-width: 900px) {
    #sp-faqi-{{ section.id }} .sp-faqi .sp-faqi-grid-left,
    #sp-faqi-{{ section.id }} .sp-faqi .sp-faqi-grid-right {
      display: block;
    }
  }

  #sp-faqi-{{ section.id }} .sp-faqi-group {
    position: relative;
    margin: 0;
    padding: 0 0 15px 0;
    cursor: pointer;
  }

  #sp-faqi-{{ section.id }} .sp-faqi-group * {
    pointer-events: none;
  }

  #sp-faqi-{{ section.id }} .sp-faqi-group a {
    pointer-events: auto !important;
  }

  #sp-faqi-{{ section.id }} .sp-faqi-group h3 {
    color: {{ section.settings.question_color }};
    margin: 0;
    padding: 0 10px 10px 10px;
  }

  #sp-faqi-{{ section.id }} .sp-faqi-group p {
    color: {{ section.settings.answer_color }};
    display: none;
    margin: 0;
    padding: 0 10px 15px 10px;
  }

  #sp-faqi-{{ section.id }} .sp-faqi-group[active] p {
    display: block;
    animation: animateFAQ 250ms ease-in-out both;
  }

  #sp-faqi-{{ section.id }} .sp-faqi-group::before {
    content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path fill="%23888888" d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>');
    display:block;
    position: absolute;
    top: 5px;
    right: 0;
  }
  
  #sp-faqi-{{ section.id }} .sp-faqi-group[active]::before {
    content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path fill="%23888888" d="M19 13H5v-2h14v2z"/></svg>');
    display: block;
    position: absolute;
    top: 5px;
    right: 0;
  }

  @media only screen and (max-width: 800px) {

  }
</style>

<div id="sp-faqi-{{ section.id }}" class="sp-faqi-wrap">

  <div class="sp-faqi">

    <div class="sp-faqi-grid sp-faqi-grid-{{ section.settings.image_location }}">

      <div class="sp-faqi-col sp-faqi-column-image">
        <img class="sp-faqi-image-{{ section.settings.image }}" 
            src="{{ section.settings.image | image_url: width: 600 }}"
            srcset="{{ section.settings.image| image_url: width: 600 }} 600w,
              {{ section.settings.image | image_url: width: 800 }} 800w,
              {{ section.settings.image | image_url: width: 1000 }} 1000w,
              {{ section.settings.image | image_url: width: 1100 }} 1100w">
      </div>

      <div class="sp-faqi-col sp-faqi-column-text">

        {% for block in section.blocks %}
        <div class="sp-faqi-group">
            <h3>{{ block.settings.question }}</h3>
            <p>{{ block.settings.answer }}</p>
        </div>
        {% endfor %}
      
      </div>
      <!-- /.sp-faqi-col -->
    </div>
    <!-- /.sp-faqi-container -->

  </div>
  <!-- /.sp-faqi -->
  
</div>
<!-- /.sp-faqi-wrap -->

<script>
  var fs_container = document.querySelector(`#sp-faqi-{{ section.id }}`);

  var fs_els = fs_container.querySelectorAll(`.sp-faqi-group`);

  if(fs_els.length>0) {
    fs_els[0].setAttribute('active', '');
  }

  for(var x=0; x<fs_els.length; x++) {
    fs_els[x].addEventListener('click', (e)=> {
      if(e.target.hasAttribute('active')) { e.target.removeAttribute('active'); }
      else { e.target.setAttribute('active', ''); }
    });
  }
</script>

{% schema %}
  {
    "name": "🚀SP - FAQ with Image",
    "settings": [
      {
        "type": "header",
        "content": "Text",
        "info": "Set the text size for your widget"
      },
      {
        "type": "font_picker",
        "id": "text_font",
        "label": "Text Font",
        "default": "sans-serif"
      },
      {
        "type": "range",
        "id": "text_size",
        "min": 10,
        "max": 50,
        "step": 1,
        "unit": "px",
        "label": "Text Size",
        "default": 15
      },
      {
        "type": "font_picker",
        "id": "headline_font",
        "label": "Headline Font",
        "default": "sans-serif"
      },
      {
        "type": "range",
        "id": "headline_size",
        "min": 10,
        "max": 50,
        "step": 1,
        "unit": "px",
        "label": "Headline Size",
        "default": 25
      },
      {
        "type": "header",
        "content": "Colors",
        "info": "Set colors for the section."
      },
      {
        "type": "color_background",
        "id": "background_color",
        "default": "linear-gradient(164deg, #FFF 0%, #FFF 100%)",
        "label": "Background Color"
      },
      {
        "type": "color",
        "id": "question_color",
        "default": "#111111",
        "label": "Question Color"
      },
      {
        "type": "color",
        "id": "answer_color",
        "default": "#555555",
        "label": "Answer Color"
      },
      {
        "type": "header",
        "content": "Dimensions",
        "info": "Set the section dimensions in pixels."
      },
      {
        "type": "number",
        "id": "max_width",
        "default": 1000,
        "label": "Max Width of Section"
      },
      {
        "type": "number",
        "id": "padding_top",
        "default": 25,
        "label": "Padding Top"
      },
      {
        "type": "number",
        "id": "padding_bottom",
        "default": 25,
        "label": "Padding Bottom"
      },
      {
        "type": "number",
        "id": "padding_left",
        "default": 10,
        "label": "Padding Left"
      },
      {
        "type": "number",
        "id": "padding_right",
        "default": 10,
        "label": "Padding Right"
      },
      {
        "type": "header",
        "content": "Design",
        "info": "Set the design for your section"
      },
      {
        "type": "select",
        "id": "vertical_alignment",
        "label": "Vertical Alignment",
        "options": [
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "start",
            "label": "Top"
          },
          {
            "value": "end",
            "label": "Bottom"
          }
        ],
        "default": "start"
      },
      {
        "type": "select",
        "id": "image_location",
        "label": "Image Location",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "left"
      },
      {
        "type": "select",
        "id": "image_aspect_ratio",
        "label": "Image Aspect Ratio",
        "options": [
          {
            "value": "21 / 9",
            "label": "21:9"
          },
          {
            "value": "16 / 9",
            "label": "16:9"
          },
          {
            "value": "4 / 3",
            "label": "4:3"
          },
          {
            "value": "1 / 1",
            "label": "1:1"
          }
        ],
        "default": "4 / 3"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "range",
        "id": "media_radius",
        "min": 0,
        "max": 50,
        "step": 1,
        "unit": "%",
        "label": "Round Borders on Image",
        "default": 2
      },
      {
        "type": "checkbox",
        "id": "media_shadow",
        "default": true,
        "label": "Subtle Shadow on Image"
      }
    ],
    "blocks": [
      {
       "name": "Question",
       "type": "paragraph",
       "settings": [
          {
          "type": "inline_richtext",
          "id": "question",
          "label": "Question",
          "default": "How does the FAQ section work?"
          },
          {
          "type": "inline_richtext",
          "id": "answer",
          "label": "Answer",
          "default": "Its simple really. You just add the questions as blocks and then you edit the question and answer."
          }
       ]
      }
    ],
    "presets": [
      {
        "name": "🚀SP - FAQ with Image",
        "category": "Custom"
      }
    ]
  }
{% endschema %}