<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>

{%- liquid 
  assign padding_horizontal = section.settings.padding_horizontal
  assign padding_horizontal_mobile = section.settings.padding_horizontal_mobile
  assign padding_top = section.settings.padding_top
  assign padding_bottom = section.settings.padding_bottom
  assign border_color = section.settings.border_color
  assign border_thickness = section.settings.border_thickness
  assign margin_top = section.settings.margin_top
  assign margin_bottom = section.settings.margin_bottom
  assign background_color = section.settings.background_color
  assign background_gradient = section.settings.background_gradient
  assign full_width = section.settings.full_width
  assign content_width = section.settings.content_width
  assign lazy = section.settings.lazy

  assign top = section.settings.top
  assign top_size = section.settings.top_size
  assign top_color = section.settings.top_color
  assign top_font = section.settings.top_font
  assign top_custom = section.settings.top_custom
  assign top_height = section.settings.top_height
  assign top_align = section.settings.top_align

  assign heading = section.settings.heading
  assign heading_size = section.settings.heading_size
  assign heading_color = section.settings.heading_color
  assign heading_font = section.settings.heading_font
  assign heading_custom = section.settings.heading_custom
  assign heading_height = section.settings.heading_height
  assign heading_align = section.settings.heading_align
  assign heading_mt = section.settings.heading_mt

  assign subheading = section.settings.subheading
  assign subheading_size = section.settings.subheading_size
  assign subheading_color = section.settings.subheading_color
  assign subheading_font = section.settings.subheading_font
  assign subheading_custom = section.settings.subheading_custom
  assign subheading_height = section.settings.subheading_height
  assign subheading_align = section.settings.subheading_align
  assign subheading_mt = section.settings.subheading_mt

  assign slider_row = section.settings.slider_row
  assign slider_row_mobile = section.settings.slider_row_mobile
  assign slider_gap = section.settings.slider_gap
  assign slider_gap_mobile = section.settings.slider_gap_mobile
  assign slider_mt = section.settings.slider_mt

  assign autoplay = section.settings.autoplay
  assign autoplay_speed = section.settings.autoplay_speed

  assign nav_btn_bg = section.settings.nav_btn_bg
  assign nav_btn_hover_bg = section.settings.nav_btn_hover_bg
  assign nav_border = section.settings.nav_border
  assign nav_border_hover = section.settings.nav_border_hover
  assign nav_icon = section.settings.nav_icon
  assign nav_hover_icon = section.settings.nav_hover_icon
  assign nav_size = section.settings.nav_size
  assign nav_size_mobile = section.settings.nav_size_mobile
  assign hide_nav = section.settings.hide_nav
  assign hide_nav_mobile = section.settings.hide_nav_mobile

  assign image_radius = section.settings.image_radius
  
-%}

{%- style -%}

  {{  top_font | font_face: font_display: 'swap' }}
  {{  heading_font | font_face: font_display: 'swap' }}
  {{  subheading_font | font_face: font_display: 'swap' }}
  
  .section-{{ section.id }} {
    border-top: solid {{ border_color }} {{ border_thickness }}px;
    border-bottom: solid {{ border_color }} {{ border_thickness }}px;
    margin-top: {{ margin_top | times: 0.75 | round: 0 }}px;
    margin-bottom: {{ margin_bottom | times: 0.75 | round: 0 }}px;
  }
  
  .section-{{ section.id }}-settings {
    margin: 0 auto;
    padding-top: {{ padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ padding_bottom }}px;
    padding-left: {{ padding_horizontal_mobile }}rem;
    padding-right: {{ padding_horizontal_mobile }}rem;
  }

  .instafeed-top-{{ section.id }} {
    margin: 0;
    font-size: {{ top_size | times: 0.85 }}px;
    color: {{ top_color }};
    line-height: {{ top_height }}%;
    text-transform: uppercase;
    font-weight: 700;
    text-align: {{ top_align }};
  }

  .instafeed-heading-{{ section.id }} {
    margin: 0;
    margin-top: {{ heading_mt | times: 0.75 | round: 0  }}px;
    font-size: {{ heading_size | times: 0.85 }}px;
    color: {{ heading_color }};
    line-height: {{ heading_height }}%;
    text-transform: unset;
    text-align: {{ heading_align }};
  }

  .instafeed-subheading-{{ section.id }} {
    margin: 0;
    margin-top: {{ subheading_mt | times: 0.75 | round: 0  }}px;
  }

  .instafeed-subheading-{{ section.id }} h1
  .instafeed-subheading-{{ section.id }} h2,
  .instafeed-subheading-{{ section.id }} h3,
  .instafeed-subheading-{{ section.id }} h4,
  .instafeed-subheading-{{ section.id }} h5,
  .instafeed-subheading-{{ section.id }} h6,
  .instafeed-subheading-{{ section.id }} p,
  .instafeed-subheading-{{ section.id }} span,
  .instafeed-subheading-{{ section.id }} li,
  .instafeed-subheading-{{ section.id }} strong,
  .instafeed-subheading-{{ section.id }} a {
    margin: 0;
    font-size: {{ subheading_size | times: 0.85 }}px;
    color: {{ subheading_color }};
    line-height: {{ subheading_height }}%;
    text-transform: unset;
    text-align: {{ subheading_align }};
  }

  .instafeed-slider-{{ section.id }} {
    margin-top: {{ slider_mt | times: 0.75 | round: 0  }}px;
  }

  .instafeed-slide-{{ section.id }} {
    display: block !important;
    aspect-ratio: 1 / 1;
    border-radius: {{ image_radius }}px;
  }

  .instafeed-slide-{{ section.id }} img,
  .instafeed-slide-{{ section.id }} svg {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    border-radius: {{ image_radius }}px;
  }

  .instafeed-btn-next-{{ section.id }},
  .instafeed-btn-prev-{{ section.id }} {
    top: 50% !important;
    display: flex !important;
    border-radius: 50%;
    border: 1px solid {{ nav_border }} !important;
    width: {{ nav_size_mobile }}px !important;
    height: {{ nav_size_mobile }}px !important;
    background: {{ nav_btn_bg }} !important;
    transition: all 0.3s ease 0s;
  }

  .instafeed-btn-prev-{{ section.id }} {
    left: 5px !important;
  }
  .instafeed-btn-next-{{ section.id }} {
    right: 5px !important;
  }

  .instafeed-btn-next-{{ section.id }}::after,
  .instafeed-btn-prev-{{ section.id }}::after {
    font-size: {{ nav_size_mobile | times: 0.5 | round: 0 }}px !important;
    color: {{ nav_icon }};
  }

  .instafeed-btn-next-{{ section.id }}::after {
    margin-left: 2px;
  }
  
  .instafeed-btn-prev-{{ section.id }}::after {
    margin-left: -1px;
  }

  .instafeed-btn-next-{{ section.id }}:hover,
  .instafeed-btn-prev-{{ section.id }}:hover {
    border: 1px solid {{ nav_border_hover }} !important;
    background: {{ nav_btn_hover_bg }} !important;
  }

  .instafeed-btn-next-{{ section.id }}:hover::after,
  .instafeed-btn-prev-{{ section.id }}:hover::after {
    color: {{ nav_hover_icon }} !important;
  }
  
  @media(min-width: 768px) {

    .section-{{ section.id }} {
      margin-top: {{ margin_top }}px;
      margin-bottom: {{ margin_bottom }}px;
    }
    
    .section-{{ section.id }}-settings {
      padding: 0 5rem;
      padding-top: {{ padding_top }}px;
      padding-bottom: {{ padding_bottom }}px;
      padding-left: {{ padding_horizontal }}rem;
      padding-right: {{ padding_horizontal }}rem;
    }

    .instafeed-top-{{ section.id }} {
      font-size: {{ top_size }}px;
    }

    .instafeed-heading-{{ section.id }} {
       margin-top: {{ heading_mt }}px;
       font-size: {{ heading_size }}px;
    }

    .instafeed-subheading-{{ section.id }} {
       margin-top: {{ subheading_mt }}px;
    }

  .instafeed-subheading-{{ section.id }} h1
  .instafeed-subheading-{{ section.id }} h2,
  .instafeed-subheading-{{ section.id }} h3,
  .instafeed-subheading-{{ section.id }} h4,
  .instafeed-subheading-{{ section.id }} h5,
  .instafeed-subheading-{{ section.id }} h6,
  .instafeed-subheading-{{ section.id }} p,
  .instafeed-subheading-{{ section.id }} span,
  .instafeed-subheading-{{ section.id }} li,
  .instafeed-subheading-{{ section.id }} strong {
      font-size: {{ subheading_size }}px;
    }

    .instafeed-slider-{{ section.id }} {
      margin-top: {{ slider_mt }}px;
    }

    .instafeed-btn-next-{{ section.id }},
    .instafeed-btn-prev-{{ section.id }} {
      width: {{ nav_size }}px !important;
      height: {{ nav_size }}px !important;
    }

    .instafeed-btn-next-{{ section.id }}::after,
    .instafeed-btn-prev-{{ section.id }}::after {
      font-size: {{ nav_size | times: 0.5 | round: 0 }}px !important;
    }
    
  }
  
{%- endstyle -%}

{% unless full_width %}
  <style>
    .section-{{ section.id }}-settings {
      max-width: {{ content_width }}rem;
    }
  </style>
{% endunless %}

{% if top_custom %}
  <style>
    .instafeed-top-{{ section.id }} {
      font-family: {{ top_font.family }}, {{ top_font.fallback_families }};
      font-weight: {{ top_font.weight }};
      font-style: {{ top_font.style }};
    }
  </style>
{% endif %}

{% if heading_custom %}
  <style>
    .instafeed-heading-{{ section.id }} {
      font-family: {{ heading_font.family }}, {{ heading_font.fallback_families }};
      font-weight: {{ heading_font.weight }};
      font-style: {{ heading_font.style }};
    }
  </style>
{% endif %}

{% if subheading_custom %}
  <style>
    .instafeed-subheading-{{ section.id }} h1
    .instafeed-subheading-{{ section.id }} h2,
    .instafeed-subheading-{{ section.id }} h3,
    .instafeed-subheading-{{ section.id }} h4,
    .instafeed-subheading-{{ section.id }} h5,
    .instafeed-subheading-{{ section.id }} h6,
    .instafeed-subheading-{{ section.id }} p,
    .instafeed-subheading-{{ section.id }} span,
    .instafeed-subheading-{{ section.id }} li,
    .instafeed-subheading-{{ section.id }} strong {
      font-family: {{ subheading_font.family }}, {{ subheading_font.fallback_families }};
      font-weight: {{ subheading_font.weight }};
      font-style: {{ subheadingg_font.style }};
    }
  </style>
{% endif %}

{% if hide_nav or hide_nav_mobile %}
  <style>
    {% if hide_nav_mobile %}
      .instafeed-slider-{{ section.id }} .instafeed-btn-prev-{{ section.id }},
      .instafeed-slider-{{ section.id }} .instafeed-btn-next-{{ section.id }} {
        display: none !important;
      }
    {% endif %}
  
    @media(min-width: 750px) {
      {% if hide_nav %}
        .instafeed-slider-{{ section.id }} .instafeed-btn-prev-{{ section.id }},
        .instafeed-slider-{{ section.id }} .instafeed-btn-next-{{ section.id }} {
          display: none !important;
        }
      {% else %}
        .instafeed-slider-{{ section.id }} .instafeed-btn-prev-{{ section.id }},
        .instafeed-slider-{{ section.id }} .instafeed-btn-next-{{ section.id }} {
          display: flex !important;
        }
      {% endif %}
    }
  </style>
{% endif %}

{% comment %} PREVIEW {% endcomment %}
<style>
  .instafeed-slider-{{ section.id }}.presets-{{ section.id }} .swiper-wrapper {
    overflow-y: auto;
    justify-content: space-between;
    gap: {{ slider_gap_mobile }}px;
    scrollbar-width: none;
  }

  .instafeed-slider-{{ section.id }}.presets-{{ section.id }} .swiper-wrapper::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
  
  .instafeed-slider-{{ section.id }}.presets-{{ section.id }} .instafeed-slide-{{ section.id }} {
    flex: 0 1 16.5%;
  }

  @media(min-width: 750px) {
    .instafeed-slider-{{ section.id }}.presets-{{ section.id }} .swiper-wrapper {
      gap: {{ slider_gap }}px;
    }

    .instafeed-slider-{{ section.id }}.presets-{{ section.id }} .instafeed-slide-{{ section.id }} {
      flex: 0 1 16.5%;
    }
  }
</style>

<div class="section-{{ section.id }} instafeed-{{ section.id }}" style="background-color:{{ background_color }}; background-image: {{ background_gradient }};">
    <div class="section-{{ section.id }}-settings">
      {% if top != blank %}
        <p class="instafeed-top-{{ section.id }}">{{ top }}</p>
      {% endif %}
      {% if heading != blank %}
        <h2 class="instafeed-heading-{{ section.id }}">{{ heading }}</h2>
      {% endif %}
      {% if subheading != blank %}
        <div class="instafeed-subheading-{{ section.id }}">{{ subheading }}</div>
      {% endif %}
      <div class="instafeed-slider-{{ section.id }} swiper presets-{{ section.id }}">
        <div class="swiper-wrapper">
          {% for block in section.blocks %}
            <a href="{{ block.settings.url }}" class="instafeed-slide-{{ section.id }} swiper-slide">
              {% if block.settings.image != blank %}
                <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.image.alt }}" {% if lazy %}lazy="loading"{% endif %}>
              {% else %}
                {{ 'image' | placeholder_svg_tag: 'placeholder' }}
              {% endif %}
            </a>
          {% endfor %}
        </div>
        <div class="swiper-button-prev instafeed-btn-prev-{{ section.id }}"></div>
        <div class="swiper-button-next instafeed-btn-next-{{ section.id }}"></div>
      </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/swiper@6.8.4/swiper-bundle.min.js"></script>

{% assign slider_row = slider_row | plus: 0 %}
{% assign slider_row_tablet = slider_row | times: 0.5 %}
{% assign slider_row_tablet = slider_row | round: 0 %}
{% assign slider_row_mobile = slider_row_mobile | plus: 0 %}

<script>
  function instafeedSliderInit() {
    document.querySelector('.instafeed-slider-{{ section.id }}').classList.remove('presets-{{ section.id }}');
    new Swiper('.instafeed-slider-{{ section.id }}', {
      speed: 300,
      watchOverflow: false,
      {% if autoplay %}
       autoplay: {
         delay: {{ autoplay_speed | times: 1000 }},
       },
      {% endif %}
      navigation: {
        nextEl: '.instafeed-btn-next-{{ section.id }}',
        prevEl: '.instafeed-btn-prev-{{ section.id }}',
      },
      breakpoints: {
        320: {
          {% if section.blocks.size > slider_row_mobile and autoplay %}
            loop: true,
          {% endif %}
          slidesPerView: {{ slider_row_mobile }}.3,
          spaceBetween: {{ slider_gap_mobile }}
        },
        768: {
          {% if section.blocks.size > slider_row_tablet and autoplay %}
            loop: true,
          {% else %}
            loop: false,
          {% endif %}
          slidesPerView: {{ slider_row | times: 0.5 | round: 0 }}.3,
          spaceBetween: {{ slider_gap_mobile }}
        },
        992: {
          {% if section.blocks.size > slider_row and autoplay %}
            loop: true,
          {% else %}
            loop: false,
          {% endif %}
          slidesPerView: {{ slider_row }},
          spaceBetween: {{ slider_gap }},
          {% if section.blocks.size < slider_row or section.blocks.size == slider_row %}
            simulateTouch: false,
          {% endif %} 
        }
      }
    })
  }

  document.addEventListener('DOMContentLoaded', instafeedSliderInit);

  if (Shopify.designMode) {
     document.addEventListener('shopify:section:unload', instafeedSliderInit);
     document.addEventListener('shopify:section:load', instafeedSliderInit);
  }
</script>

{% schema %}
  {
    "name": "🚀SP - Instafeed #2",
    "settings": [
      {
        "type": "header",
        "content": "Top Text"
      },
      {
        "type": "text",
        "id": "top",
        "label": "Top Text",
        "default": "Social"
      },
      {
        "type": "checkbox",
        "id": "top_custom",
        "label": "Use Custom Font",
        "default": false
      },
      {
        "type": "font_picker",
        "id": "top_font",
        "label": "Top Font Family",
        "default": "josefin_sans_n4"
      },
      {
        "type": "range",
        "id": "top_size",
        "min": 0,
        "max": 50,
        "step": 1,
        "unit": "px",
        "label": "Top Size",
        "default": 13
      },
      {
        "type": "range",
        "id": "top_height",
        "min": 50,
        "max": 200,
        "step": 10,
        "unit": "%",
        "label": "Top Line Height",
        "default": 130
      },
      {
        "type": "select",
        "id": "top_align",
        "label": "Top Text Align",
        "default": "center",
        "options": [
          {
            "label": "Left",
            "value": "left"
          },
          {
            "label": "Center",
            "value": "center"
          },
          {
            "label": "Right",
            "value": "right"
          }
        ]
      },
      {
        "type": "header",
        "content": "Heading"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Let’s be friends."
      },
      {
        "type": "checkbox",
        "id": "heading_custom",
        "label": "Use Custom Font",
        "default": false
      },
      {
        "type": "font_picker",
        "id": "heading_font",
        "label": "Heading Font Family",
        "default": "josefin_sans_n4"
      },
      {
        "type": "range",
        "id": "heading_size",
        "min": 0,
        "max": 72,
        "step": 2,
        "unit": "px",
        "label": "Heading Size",
        "default": 40
      },
      {
        "type": "range",
        "id": "heading_height",
        "min": 50,
        "max": 200,
        "step": 10,
        "unit": "%",
        "label": "Heading Line Height",
        "default": 130
      },
      {
        "type": "select",
        "id": "heading_align",
        "label": "Heading Text Align",
        "default": "center",
        "options": [
          {
            "label": "Left",
            "value": "left"
          },
          {
            "label": "Center",
            "value": "center"
          },
          {
            "label": "Right",
            "value": "right"
          }
        ]
      },
      {
        "type": "range",
        "id": "heading_mt",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Heading Margin top",
        "default": 12
      },
      {
        "type": "header",
        "content": "Subheading"
      },
      {
        "type": "richtext",
        "id": "subheading",
        "label": "Subheading",
        "default": "<h3>Join the convo with #AwesomeBrandTag</h3>"
      },
      {
        "type": "checkbox",
        "id": "subheading_custom",
        "label": "Use Custom Font",
        "default": false
      },
      {
        "type": "font_picker",
        "id": "subheading_font",
        "label": "Subheading Font Family",
        "default": "josefin_sans_n4"
      },
      {
        "type": "range",
        "id": "subheading_size",
        "min": 0,
        "max": 72,
        "step": 2,
        "unit": "px",
        "label": "Subheading Size",
        "default": 16
      },
      {
        "type": "range",
        "id": "subheading_height",
        "min": 50,
        "max": 200,
        "step": 10,
        "unit": "%",
        "label": "SubHeading Line Height",
        "default": 130
      },
      {
        "type": "select",
        "id": "subheading_align",
        "label": "Subheading Text Align",
        "default": "center",
        "options": [
          {
            "label": "Left",
            "value": "left"
          },
          {
            "label": "Center",
            "value": "center"
          },
          {
            "label": "Right",
            "value": "right"
          }
        ]
      },
      {
        "type": "range",
        "id": "subheading_mt",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Subheading Margin top",
        "default": 12
      },
      {
        "type": "header",
        "content": "Slider Settings"
      },
      {
        "type": "range",
        "id": "slider_mt",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Slider Margin top",
        "default": 60
      },
      {
        "type": "select",
        "id": "slider_row",
        "label": "Slider Per Row",
        "default": "6",
        "options": [
          {
            "label": "2",
            "value": "2"
          },
          {
            "label": "3",
            "value": "3"
          },
          {
            "label": "4",
            "value": "4"
          },
          {
            "label": "5",
            "value": "5"
          },
          {
            "label": "6",
            "value": "6"
          }
        ]
      },
      {
        "type": "select",
        "id": "slider_row_mobile",
        "label": "Slider Per Row (Mobile)",
        "default": "1",
        "options": [
          {
            "label": "1",
            "value": "1"
          },
          {
            "label": "2",
            "value": "2"
          },
          {
            "label": "3",
            "value": "3"
          },
          {
            "label": "4",
            "value": "4"
          }
        ]
      },
      {
        "type": "range",
        "id": "slider_gap",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Slider Gap",
        "default": 20
      },
      {
        "type": "range",
        "id": "slider_gap_mobile",
        "min": 0,
        "max": 50,
        "step": 2,
        "unit": "px",
        "label": "Slider Gap - Mobile",
        "default": 32
      },
      {
        "type": "checkbox",
        "id": "autoplay",
        "label": "Use autoplay",
        "default": false
      },
      {
         "type": "range",
         "id": "autoplay_speed",
         "min": 0,
         "max": 10,
         "step": 1,
         "unit": "s",
         "label": "Autoplay Speed",
         "default": 3
      },
      {
        "type": "header",
        "content": "Navigation Buttons Settings"
      },
      {
         "type": "range",
         "id": "nav_size",
         "min": 10,
         "max": 100,
         "step": 5,
         "unit": "px",
         "label": "Navigation Buttons Size",
         "default": 40
      },
      {
         "type": "range",
         "id": "nav_size_mobile",
         "min": 10,
         "max": 100,
         "step": 5,
         "unit": "px",
         "label": "Navigation Buttons Size - Mobile",
         "default": 30
      },
      {
        "type": "checkbox",
        "id": "hide_nav",
        "label": "Hide Navigation Button - Desktop",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "hide_nav_mobile",
        "label": "Hide Navigation Button - Mobile",
        "default": false
      },
      {
        "type": "header",
        "content": "Image Settings"
      },
      {
        "type": "range",
        "id": "image_radius",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Image Border Radius",
        "default": 0
      },
      {
        "type": "header",
        "content": "Section Colors"
      },
      {
        "type": "color",
        "label": "Top Text Color",
        "id": "top_color",
        "default": "#e69e6c"
      },
      {
        "type": "color",
        "label": "Heading Color",
        "id": "heading_color",
        "default": "#746661"
      },
      {
        "type": "color",
        "label": "Subheading Color",
        "id": "subheading_color",
        "default": "#aba49d"
      },
      {
        "type": "color",
        "label": "Navigation Button Background",
        "id": "nav_btn_bg",
        "default": "#FFFFFF"
      },
      {
        "type": "color",
        "label": "Navigation Button Hover Background",
        "id": "nav_btn_hover_bg",
        "default": "#e69e6c"
      },
      {
        "type": "color",
        "label": "Navigation Button Border",
        "id": "nav_border",
        "default": "#e69e6c"
      },
      {
        "type": "color",
        "label": "Navigation Button Hover Border",
        "id": "nav_border_hover",
        "default": "#e69e6c"
      },
      {
        "type": "color",
        "label": "Navigation Button Icon",
        "id": "nav_icon",
        "default": "#e69e6c"
      },
      {
        "type": "color",
        "label": "Navigation Button Hover Icon",
        "id": "nav_hover_icon",
        "default": "#FFFFFF"
      },
      {
        "type": "color",
        "label": "Section background",
        "id": "background_color",
        "default": "#FFFFFF"
      },
      {
        "type": "color_background",
        "id": "background_gradient",
        "label": "Section background gradient"
      },
      {
        "type": "color",
        "label": "Border",
        "id": "border_color",
        "default": "#000000"
      },
      {
        "type": "header",
        "content": "Section margin (outside)"
      },
      {
        "type": "range",
        "id": "margin_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Margin top",
        "default": 0
      },
      {
        "type": "range",
        "id": "margin_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Margin bottom",
        "default": 0
      },
      {
        "type": "header",
        "content": "Section padding (inside)"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Padding top",
        "default": 36
      },
      {
         "type": "range",
         "id": "padding_bottom",
         "min": 0,
         "max": 100,
         "step": 4,
         "unit": "px",
         "label": "Padding bottom",
         "default": 36
      },
      {
        "type": "range",
        "id": "padding_horizontal",
        "min": 0,
        "max": 30,
        "step": 1,
        "unit": "rem",
        "label": "Padding sides",
        "default": 5
      },
      {
        "type": "range",
        "id": "padding_horizontal_mobile",
        "min": 0,
        "max": 15,
        "step": 0.5,
        "unit": "rem",
        "label": "Padding sides mobile",
        "default": 1.5
      },
      {
        "type": "header",
        "content": "Section Settings"
      },
      {
        "type": "checkbox",
        "id": "full_width",
        "label": "Full Width",
        "default": true
      },
      {
        "type": "range",
        "id": "content_width",
        "min": 0,
        "max": 400,
        "step": 10,
        "unit": "rem",
        "label": "Section content width",
        "default": 120
      },
      {
        "type": "range",
        "id": "border_thickness",
        "min": 0,
        "max": 50,
        "step": 1,
        "unit": "px",
        "label": "Border thickness",
        "default": 0
      },
      {
        "type": "checkbox",
        "id": "lazy",
        "label": "Lazy load",
        "info": "Lazy load images for speed optimisation",
        "default": true
      }
    ],
    "blocks": [
      {
        "type": "slide",
        "name": "Slide",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "url",
            "id": "url",
            "label": "URL"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "🚀SP - Instafeed #2",
        "blocks": [
          {
            "type": "slide"
          },
          {
            "type": "slide"
          },
          {
            "type": "slide"
          },
          {
            "type": "slide"
          },
          {
            "type": "slide"
          },
          {
            "type": "slide"
          }
        ]
      }
    ]
  }
{% endschema %}