{% comment %}
  © Sections Pro. You are free to use this section in your store. You may not redistribute this section in another Shopify app.
{% endcomment %}
<style>
  #sp-media-grid-{{ section.id }}.sp-media-grid-wrap {
    background-image: {{ section.settings.background_color }};
    width: 100%;
  }


  #sp-media-grid-{{ section.id }} .sp-media-grid {
    position: relative;
    margin: 0 auto;
    max-width: {{ section.settings.max_width }}px;
    padding: {{ section.settings.padding_top }}px {{ section.settings.padding_right }}px {{ section.settings.padding_bottom }}px {{ section.settings.padding_left }}px;
  }

  #sp-media-grid-{{ section.id }}  .sp-media-grid .sp-media-grid-grid {
    display: grid;
    align-items: center;
    gap: {{ section.settings.grid_gap}}px;
    position: relative;
    z-index: 2;
  }

  @media only screen and (min-width: 801px) {
    .sp-media-grid .sp-media-grid-grid {
      display: grid;
      grid-auto-columns: 1fr;
      grid-auto-flow: column;
      
    }
  }

  @media only screen and (max-width: 800px) {
    .sp-media-grid .sp-media-grid-grid {
      display: grid;
      grid-template-columns: 1fr;
      
    }
  }

  #sp-media-grid-{{ section.id }}  .sp-media-grid .sp-media-grid-cover {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-image: {{section.settings.cover_background}};
    opacity: {{section.settings.cover_opacity}}%;
    transition: all .5s;
    visibility: hidden;
  }

  #sp-media-grid-{{ section.id }}  .sp-media-grid-col:hover .sp-media-grid-cover {
    opacity: {{section.settings.cover_opacity | plus: 15 }}%;
    visibility: visible;
  }

  #sp-media-grid-{{ section.id }} .sp-media-grid-col {
    position: relative;
    padding: 0;
    overflow: hidden;
    border-radius: 5px;
    transition: .25s all ease;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.20);
  }

  #sp-media-grid-{{ section.id }} .sp-media-grid-col video {
    position: relative;
    width: 100%;
    object-fit: cover;
    aspect-ratio: {{ section.settings.media_aspect_ratio }};
    transition: all .5s;
    display: block;
  }

  #sp-media-grid-{{ section.id }} .sp-media-grid-col img {
    position: relative;
    width: 100%;
    object-fit: cover;
    aspect-ratio: {{ section.settings.media_aspect_ratio }};
    transition: all .5s;
    display: block;
  }

  #sp-media-grid-{{ section.id }} .sp-media-grid-col:hover {
    z-index: 3;
    transform: scale(1.02);
  }
  
  @media only screen and (max-width: 800px) {

  }
</style>

<div id="sp-media-grid-{{ section.id }}" class="sp-media-grid-wrap">

<div class="sp-media-grid">

  <div class="sp-media-grid-grid">

    {% for block in section.blocks %}
      <div class="sp-media-grid-col">
        {% if block.type == 'video' %}
          
          {% if block.settings.link %}
            <a href="{{ block.settings.link }}">
              {{
                block.settings.video
                | video_tag:
                  image_size: '1100x',
                  playsinline: block.settings.video_inline,
                  autoplay: block.settings.video_autoplay,
                  loop: block.settings.video_loop,
                  controls: block.settings.video_controls,
                  muted: block.settings.video_muted
              }}
            </a>
          {% else %}
            {{
              block.settings.video
              | video_tag:
                image_size: '1100x',
                playsinline: block.settings.video_inline,
                autoplay: block.settings.video_autoplay,
                loop: block.settings.video_loop,
                controls: block.settings.video_controls,
                muted: block.settings.video_muted
            }}
          {% endif %}
        
        {% endif %}
        {% if block.type == 'image' %}
          {% if block.settings.link %}
            <a href="{{ block.settings.link }}">
              <img src="{{ block.settings.image | image_url: width: 1024 }}">
            </a>
          {% else %}
            <img src="{{ block.settings.image | image_url: width: 1024 }}">
          {% endif %}
        {% endif %}
      </div>
      <!-- /.sp-media-grid-col -->

    {% endfor %}

  </div>
  <!-- /.sp-media-grid-grid -->
  
</div>
<!-- /.sp-media-grid -->

</div>
<!-- /.sp-media-grid-wrap -->

{% schema %}
  {
    "name": "🚀SP - Mixed Media Grid",
    "settings": [
      {
        "type": "header",
        "content": "Colors",
        "info": "Set colors for the section."
      },
      {
        "type": "color_background",
        "id": "background_color",
        "default": "linear-gradient(164deg, #fff 0%, #fff 0%)",
        "label": "Background"
      },
      {
        "type": "color_background",
        "id": "button_background_color",
        "default": "linear-gradient(164deg, #111 0%, #333 100%)",
        "label": "Button Background Color"
      },
      {
        "type": "header",
        "content": "Dimensions",
        "info": "Set the section dimensions in pixels."
      },
      {
        "type": "select",
        "id": "media_aspect_ratio",
        "label": "Media Aspect Ratio",
        "options": [
          {
            "value": "21 / 9",
            "label": "21:9"
          },
          {
            "value": "16 / 9",
            "label": "16:9"
          },
          {
            "value": "4 / 3",
            "label": "4:3"
          },
          {
            "value": "1 / 1",
            "label": "1:1"
          },
          {
            "value": "9 / 16",
            "label": "9:16"
          }
        ],
        "default": "21 / 9"
      },
      {
        "type": "number",
        "id": "max_width",
        "default": 1000,
        "label": "Max Width of Section"
      },
      {
        "type": "number",
        "id": "grid_gap",
        "default": 25,
        "label": "Gap Between Images"
      },
      {
        "type": "number",
        "id": "padding_top",
        "default": 25,
        "label": "Padding Top"
      },
      {
        "type": "number",
        "id": "padding_bottom",
        "default": 25,
        "label": "Padding Bottom"
      },
      {
        "type": "number",
        "id": "padding_left",
        "default": 10,
        "label": "Padding Left"
      },
      {
        "type": "number",
        "id": "padding_right",
        "default": 10,
        "label": "Padding Right"
      }
    ],
	"blocks": [
      {
        "name": "Image",
        "type": "image",
        "settings": [
          
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Optional Link"
          }
        ]
      },
      {
       "name": "Video",
       "type": "video",
       "settings": [
          {
            "type": "video",
            "id": "video",
            "label": "Hero Video"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Optional Link"
          },
          {
            "type": "checkbox",
            "id": "video_inline",
            "label": "Play Inline",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "video_autoplay",
            "label": "Autoplay",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "video_loop",
            "label": "Loop Video",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "video_controls",
            "label": "Show Video Controls",
            "default": false
          },
          {
            "type": "checkbox",
            "id": "video_muted",
            "label": "Mute Video",
            "default": true
          }
       ]
      }
    ],
	"presets": [
      {
        "name": "🚀SP - Mixed Media Grid",
        "category": "Custom"
      }
    ]
  }
{% endschema %}