<section class="marquee-banner">
  {% for i in (1..5) %}
    <div
      class="marquee-banner__inner"
      aria-hidden="true"
    >
      {% for block in section.blocks %}
        {% if block.settings.text != blank %}
          <span class="marquee-banner__text">
            {{  block.settings.text }}
          </span>
        {% endif %}
      {% endfor %}
    </div>
  {% endfor %}
</section>

{% schema %}
  {
    "name": "🚀SP - Marquee Banner",
    "settings": [
      {
        "type": "header",
        "content": "Colours"
      },
      {
        "type": "color",
        "id": "background_color",
        "default": "#FFFFFF",
        "label": "Background Colour"
      },
      {
        "type": "color",
        "id": "text_color",
        "default": "#000000",
        "label": "Text Colour"
      },
      {
        "type": "header",
        "content": "Font Sizes"
      },
      {
        "type": "range",
        "id": "mobile_font_size",
        "min": 0,
        "max": 120,
        "step": 2,
        "unit": "px",
        "label": "Mobile Font Size",
        "default": 12
      },
      {
        "type": "range",
        "id": "desktop_font_size",
        "min": 0,
        "max": 120,
        "step": 2,
        "unit": "px",
        "label": "Desktop Font Size",
        "default": 32
      },
      {
        "type": "header",
        "content": "Padding"
      },
      {
        "type": "range",
        "id": "mobile_padding",
        "min": 0,
        "max": 120,
        "step": 2,
        "unit": "px",
        "label": "Mobile Padding",
        "default": 12
      },
      {
        "type": "range",
        "id": "desktop_padding",
        "min": 0,
        "max": 120,
        "step": 2,
        "unit": "px",
        "label": "Desktop Padding",
        "default": 32
      },
      {
        "type": "range",
        "id": "mobile_text_spacing",
        "min": 0,
        "max": 120,
        "step": 2,
        "unit": "px",
        "label": "Mobile Text Spacing",
        "default": 12
      },
      {
        "type": "range",
        "id": "desktop_text_spacing",
        "min": 0,
        "max": 120,
        "step": 2,
        "unit": "px",
        "label": "Desktop Text Spacing",
        "default": 32
      },
      {
        "type": "header",
        "content": "Additional Settings"
      },
      {
        "type": "range",
        "id": "marquee_speed",
        "min": 0,
        "max": 120,
        "step": 2,
        "unit": "sec",
        "label": "Marquee Speed",
        "default": 50
      },
      {
        "type": "select",
        "id": "direction",
        "label": "Marquee Direction",
        "default": "-100%",
        "options": [
          {
            "label": "Left",
            "value": "-100%"
          },
          {
            "label": "Right",
            "value": "100%"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "toggle_pause_on_hover",
        "label": "Toggle Pause on Hover",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "capitalise_text",
        "label": "Capitalise Text",
        "default": false
      }
    ],
    "blocks": [
      {
        "type": "marquee_strip",
        "name": "Marquee Strip",
        "settings": [
          {
            "type": "text",
            "id": "text",
            "label": "Text"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "🚀SP - Marquee Banner",
        "category": "Text"
      }
    ]
  }
{% endschema %}

<style>
  .marquee-banner {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: {{ section.settings.background_color }};
    padding-block: {{ section.settings.mobile_padding }}px;
  }

  .marquee-banner__inner {
    display: flex;
    animation: scroll {{ section.settings.marquee_speed }}s linear infinite;
  }

  .marquee-banner__text {
    white-space: nowrap;
    color: {{ section.settings.text_color }};
    font-size: {{ section.settings.mobile_font_size }}px;
    padding: 0 {{ section.settings.mobile_text_spacing }}px;
    {% if section.settings.capitalise_text %}
      text-transform: uppercase;
    {% endif %}
  }

  {% if section.settings.toggle_pause_on_hover %}
    .marquee-banner__inner {
      animation-play-state: running;
    }

    .marquee-banner:hover .marquee-banner__inner {
      animation-play-state: paused;
    }
  {% endif %}

  @media (min-width: 1024px) {
    .marquee-banner {
      padding-block: {{ section.settings.desktop_padding }}px;
    }

    .marquee-banner__text {
      font-size: {{ section.settings.desktop_font_size }}px;
      padding: 0 {{ section.settings.desktop_text_spacing }}px;
    }
  }

  @keyframes scroll {
    from { transform: translate3d(0, 0, 0); }
    to { transform: translate3d({{ section.settings.direction }}, 0, 0); }
  }
</style>