{% comment %}
  © Sections Pro. You are free to use this section in your store. You may not redistribute this section in another Shopify app.
{% endcomment %}
<style>
  {{ section.settings.text_font | font_face }}
  {{ section.settings.headline_font | font_face }}

  #sp-price-{{ section.id }}.sp-price-wrap p,
  #sp-price-{{ section.id }}.sp-price-wrap p a,
  #sp-price-{{ section.id }}.sp-price-wrap li {
    font-size: {{ section.settings.text_size }}px;
    font-family: {{ section.settings.text_font.family }}, {{ section.settings.text_font.fallback_families }};
    font-weight: {{ section.settings.text_font.weight }};
    line-height: 1.15;
    color: {{section.settings.text_color}};
  }

  #sp-price-{{ section.id }}.sp-price-wrap h2,  #sp-price-{{ section.id }}.sp-price-wrap h3 {
    font-size: {{ section.settings.headline_size }}px;
    font-family: {{ section.settings.headline_font.family }}, {{ section.settings.headline_font.fallback_families }};
    font-weight: {{ section.settings.headline_font.weight }};
    line-height: 1.15;
    font-weight: bold;
    color: {{section.settings.headline_color}};
  }

  #sp-price-{{ section.id }}.sp-price-wrap h3 {
    font-size: {{ section.settings.price_size }}px;
    color: {{section.settings.price_color}};
  }

  #sp-price-{{ section.id }}.sp-price-wrap {
    background-image: {{ section.settings.background_color }};
    width: 100%;
  }

  #sp-price-{{ section.id }} .sp-price {
    position: relative;
    margin: 0 auto;
    max-width: {{ section.settings.max_width }}px;
    padding: {{ section.settings.padding_top }}px {{ section.settings.padding_right }}px {{ section.settings.padding_bottom }}px {{ section.settings.padding_left }}px;
  }

  #sp-price-{{ section.id }} .sp-price .sp-price-grid {
    display: grid;
    gap: {{ section.settings.grid_gap }}px;
    position: relative;
    width: 100%;
    z-index: 2;
  }

  @media only screen and (min-width: 801px) {
    #sp-price-{{ section.id }} .sp-price .sp-price-grid {
      display: grid;
      grid-auto-columns: 1fr;
      grid-auto-flow: column;
    }
  }

  @media only screen and (max-width: 800px) {
      #sp-price-{{ section.id }} .sp-price .sp-price-grid {
      display: grid;
      grid-template-columns: 1fr;
    }
  }

  #sp-price-{{ section.id }} .sp-price-col {
    box-sizing: border-box;
    position: relative;
    margin: 0;
    padding: 0 0 75px 0;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.20);
    transition: .25s all ease;
    margin: 10px 0;
  }

  #sp-price-{{ section.id }} .sp-price-col-highlighted {
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
    margin: 0;
  }

  @media only screen and (max-width: 800px) {
      #sp-price-{{ section.id }} .sp-price-col-highlighted {
      margin: 0;
    }
  }



  #sp-price-{{ section.id }} .sp-price-col h2 {
    margin: 0;
    text-align: center;
    padding: 20px 20px 10px 20px;
    text-transform: uppercase;
  }

  #sp-price-{{ section.id }} .sp-price-col p {
    margin: 0;
    text-align: center;
    padding: 0 20px 25px 20px;
  }

  #sp-price-{{ section.id }} .sp-price-col ul {
    margin: 0 20px 0 30px;
    text-align: left;
    padding: 0 20px 15px 0;
    list-style: none;
  }

  #sp-price-{{ section.id }} .sp-price-col h3 {
    margin: 0;
    text-align: center;
    padding: 0 20px 20px 20px;
  }

  #sp-price-{{ section.id }} .sp-price-col li {
    margin: 0;
    padding: 0 0 10px 0;
    text-align: center;
  }

  #sp-price-{{ section.id }} .sp-price-col li svg {
    transform: translateY(7px);
    margin-right: 5px;
    fill: #888;
  }

  #sp-price-{{ section.id }} .sp-price-col-highlighted li svg {
      fill: {{ section.settings.highlight_color }};
  }

  #sp-price-{{ section.id }} .sp-price-col li:last-child {
    margin: 0;
    padding: 0;
  }

  #sp-price-{{ section.id }} a.sp-price-cta {
    position: absolute;
    bottom: 20px;
    width: calc(100% - 40px);
    display: block;
    padding: 10px 10px;
    margin: 0 20px;
    background-image: {{section.settings.button_background_color}};
    border-radius: 5px;
    color: {{section.settings.button_text_color}};
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    text-shadow: none;
    transition: .25s all;
    text-align: center;
    box-sizing: border-box;
  }

  #sp-price-{{ section.id }} .sp-price-col-highlighted a.sp-price-cta {
    background-image: {{section.settings.highlighted_button_background_color}};
    color: {{section.settings.highlighted_button_text_color}};
  }

  @media only screen and (max-width: 800px) {

  }

  @media only screen and (max-width: 800px) {

  }
</style>

<div id="sp-price-{{ section.id }}" class="sp-price-wrap">
  <div class="sp-price">
    <div class="sp-price-grid">
      {% for block in section.blocks %}
        <div class="sp-price-col{% if block.settings.highlighted %} sp-price-col-highlighted{% endif %}">
          <h2>{{ block.settings.title }}</h2>

          <h3>{{ block.settings.price }}</h3>

          <p>{{ block.settings.description }}</p>

          {% if block.settings.cta != '' %}
            <a class="sp-price-cta" href="{{ block.settings.cta_link }}">{{ block.settings.cta }}</a>
          {% endif %}

          <ul>
            {% if block.settings.feature_1 != '' %}
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                  <path d="M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z"/>
                </svg>
                {{ block.settings.feature_1 }}
              </li>
            {% endif %}
            {% if block.settings.feature_2 != '' %}
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                  <path d="M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z"/>
                </svg>
                {{ block.settings.feature_2 }}
              </li>
            {% endif %}
            {% if block.settings.feature_3 != '' %}
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                  <path d="M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z"/>
                </svg>
                {{ block.settings.feature_3 }}
              </li>
            {% endif %}
            {% if block.settings.feature_4 != '' %}
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                  <path d="M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z"/>
                </svg>
                {{ block.settings.feature_4 }}
              </li>
            {% endif %}
            {% if block.settings.feature_5 != '' %}
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                  <path d="M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z"/>
                </svg>
                {{ block.settings.feature_5 }}
              </li>
            {% endif %}
            {% if block.settings.feature_6 != '' %}
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                  <path d="M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z"/>
                </svg>
                {{ block.settings.feature_6 }}
              </li>
            {% endif %}
            {% if block.settings.feature_7 != '' %}
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                  <path d="M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z"/>
                </svg>
                {{ block.settings.feature_7 }}
              </li>
            {% endif %}
            {% if block.settings.feature_8 != '' %}
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                  <path d="M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z"/>
                </svg>
                {{ block.settings.feature_8 }}
              </li>
            {% endif %}
          </ul>
        </div>
        <!-- /.sp-price-col -->
      {% endfor %}
    </div>
    <!-- /.sp-price-grid -->
  </div>
  <!-- /.sp-price -->
</div>
<!-- /.sp-price-wrap -->

{% schema %}
{
  "name": "🚀SP - Price Grid",
  "settings": [
    {
      "type": "header",
      "content": "Text",
      "info": "Set the text size for your widget"
    },
    {
      "type": "font_picker",
      "id": "text_font",
      "label": "Text Font",
      "default": "sans-serif"
    },
    {
      "type": "range",
      "id": "text_size",
      "min": 10,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Text Size",
      "default": 15
    },
    {
      "type": "font_picker",
      "id": "headline_font",
      "label": "Headline Font",
      "default": "sans-serif"
    },
    {
      "type": "range",
      "id": "headline_size",
      "min": 10,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Headline Size",
      "default": 25
    },
    {
      "type": "range",
      "id": "price_size",
      "min": 10,
      "max": 75,
      "step": 1,
      "unit": "px",
      "label": "Price Size",
      "default": 40
    },
    {
      "type": "header",
      "content": "Colors",
      "info": "Set colors for the section."
    },
    {
      "type": "color_background",
      "id": "background_color",
      "default": "linear-gradient(164deg, #fff 0%, #fff 0%)",
      "label": "Background"
    },
    {
      "type": "color",
      "id": "text_color",
      "default": "#111",
      "label": "Text Color"
    },
    {
      "type": "color",
      "id": "headline_color",
      "default": "#111",
      "label": "Text Color"
    },
    {
      "type": "color",
      "id": "price_color",
      "default": "#111",
      "label": "Price Color"
    },
    {
      "type": "color",
      "id": "highlight_color",
      "default": "#111",
      "label": "Highlight Color"
    },
    {
      "type": "color_background",
      "id": "button_background_color",
      "default": "linear-gradient(164deg, #111 0%, #333 100%)",
      "label": "Button Background Color"
    },
    {
      "type": "color",
      "id": "button_text_color",
      "default": "#fff",
      "label": "Button Text Color"
    },
    {
      "type": "color_background",
      "id": "highlighted_button_background_color",
      "default": "linear-gradient(164deg, #10D01A 0%, #10D01A 100%)",
      "label": "Button Background Color"
    },
    {
      "type": "color",
      "id": "highlighted_button_text_color",
      "default": "#fff",
      "label": "Button Text Color"
    },
    {
      "type": "header",
      "content": "Dimensions",
      "info": "Set the section dimensions in pixels."
    },
    {
      "type": "select",
      "id": "media_aspect_ratio",
      "label": "Media Aspect Ratio",
      "options": [
        {
          "value": "21 / 9",
          "label": "21:9"
        },
        {
          "value": "16 / 9",
          "label": "16:9"
        },
        {
          "value": "4 / 3",
          "label": "4:3"
        },
        {
          "value": "1 / 1",
          "label": "1:1"
        }
      ],
      "default": "1 / 1"
    },
    {
      "type": "number",
      "id": "max_width",
      "default": 1000,
      "label": "Max Width of Section"
    },
    {
      "type": "number",
      "id": "grid_gap",
      "default": 20,
      "label": "Gap Between Reviews"
    },
    {
      "type": "number",
      "id": "padding_top",
      "default": 25,
      "label": "Padding Top"
    },
    {
      "type": "number",
      "id": "padding_bottom",
      "default": 25,
      "label": "Padding Bottom"
    },
    {
      "type": "number",
      "id": "padding_left",
      "default": 10,
      "label": "Padding Left"
    },
    {
      "type": "number",
      "id": "padding_right",
      "default": 10,
      "label": "Padding Right"
    }
  ],
  "blocks": [
    {
      "name": "Price Item",
      "type": "item",
      "settings": [
        {
          "type": "checkbox",
          "id": "highlighted",
          "label": "Highlighted",
          "default": true
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Standard"
        },
        {
          "type": "text",
          "id": "description",
          "label": "Description",
          "default": "Perfect for Getting Started"
        },
        {
          "type": "text",
          "id": "price",
          "label": "Price",
          "default": "$25 / mo"
        },
        {
          "type": "header",
          "content": "Features",
          "info": "Features for the plan. Leave blank to skip."
        },
        {
          "type": "text",
          "id": "feature_1",
          "label": "Bullet 1",
          "default": "Bullet Feature 1"
        },
        {
          "type": "text",
          "id": "feature_2",
          "label": "Bullet 2",
          "default": "Bullet Feature 2"
        },
        {
          "type": "text",
          "id": "feature_3",
          "label": "Bullet 3",
          "default": "Bullet Feature 3"
        },
        {
          "type": "text",
          "id": "feature_4",
          "label": "Bullet 4",
          "default": "Bullet Feature 4"
        },
        {
          "type": "text",
          "id": "feature_5",
          "label": "Bullet 5",
          "default": "Bullet Feature 5"
        },
        {
          "type": "text",
          "id": "feature_6",
          "label": "Bullet 6",
          "default": "Bullet Feature 6"
        },
        {
          "type": "text",
          "id": "feature_7",
          "label": "Bullet 7"
        },
        {
          "type": "text",
          "id": "feature_8",
          "label": "Featue 8"
        },
        {
          "type": "header",
          "content": "Button",
          "info": "Link and title for the button"
        },
        {
          "type": "url",
          "id": "cta_link",
          "label": "Call to Action Link"
        },
        {
          "type": "text",
          "id": "cta",
          "label": "Button Title",
          "default": "Get Started"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "🚀SP - Price Grid",
      "category": "Custom"
    }
  ]
}
{% endschema %}
