{% comment %}
  © Sections Pro. You are free to use this section in your store. You may not redistribute this section in another Shopify app.
{% endcomment %}
<style>

  {{ section.settings.text_font | font_face }}
  {{ section.settings.cite_font | font_face }}

  #sp-sa-review-{{ section.id }}.sp-sa-review-wrap p,
  #sp-sa-review-{{ section.id }}.sp-sa-review-wrap p a {
    font-size: {{ section.settings.text_size }}px;
    font-family: {{ section.settings.text_font.family }}, {{ section.settings.text_font.fallback_families }};
    font-weight: {{ section.settings.text_font.weight }};
    line-height: 1.15;
  }

  #sp-sa-review-{{ section.id }}.sp-sa-review-wrap p {
    color: {{ section.settings.text_color }};
    margin: 0 0 {{ section.settings.element_spacing }}px 0;
    text-align: {{ section.settings.alignment }};
  }

  #sp-sa-review-{{ section.id }}.sp-sa-review-wrap p:last-child {
    margin: 0;
  }

  #sp-sa-review-{{ section.id }}.sp-sa-review-wrap p cite {
    font-size: {{ section.settings.cite_size }}px;
    font-family: {{ section.settings.cite_font.family }}, {{ section.settings.cite_font.fallback_families }};
    font-weight: {{ section.settings.cite_font.weight }};
    color: {{ section.settings.cite_color }};
    line-height: 1.15;
    font-style: normal;
  }

  #sp-sa-review-{{ section.id }}.sp-sa-review-wrap p cite {
    color: {{ section.settings.cite_color }};
  }

  #sp-sa-review-{{ section.id }}.sp-sa-review-wrap p svg, 
  #sp-sa-review-{{ section.id }}.sp-sa-review-wrap p svg g {
    fill: {{ section.settings.highlight_color }};
  }
  
  #sp-sa-review-{{ section.id }}.sp-sa-review-wrap {
    background-image: {{ section.settings.background_color }};
    width: 100%;
  }

  #sp-sa-review-{{ section.id }} .sp-sa-review {
    position: relative;
    margin: 0 auto;
    max-width: 100%;
    padding: {{ section.settings.padding_top }}px {{ section.settings.padding_right }}px {{ section.settings.padding_bottom }}px {{ section.settings.padding_left }}px;
  }

  #sp-sa-review-{{ section.id }} .sp-sa-review-container {
    display: grid;
    align-items: center;
    position: relative;
    max-width: {{ section.settings.max_width }}px;
    margin: 0 auto;
    padding: 0;
    z-index: 4;
  }

  @media only screen and (max-width: 800px) {

  }
</style>

<div id="sp-sa-review-{{ section.id }}" class="sp-sa-review-wrap">
  <div class="sp-sa-review">
      
    <div class="sp-sa-review-container">
      <p><?xml version="1.0" encoding="UTF-8"?>
        <svg width="101px" height="20px" viewBox="0 0 101 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <title>Group 5</title>
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Group-5">
                    <polygon points="10 15 4.12214748 18.0901699 5.24471742 11.545085 0.489434837 6.90983006 7.06107374 5.95491503 10 0 12.9389263 5.95491503 19.5105652 6.90983006 14.7552826 11.545085 15.8778525 18.0901699"></polygon>
                    <polygon points="30.5 15 24.6221475 18.0901699 25.7447174 11.545085 20.9894348 6.90983006 27.5610737 5.95491503 30.5 0 33.4389263 5.95491503 40.0105652 6.90983006 35.2552826 11.545085 36.3778525 18.0901699"></polygon>
                    <polygon points="50 15 44.1221475 18.0901699 45.2447174 11.545085 40.4894348 6.90983006 47.0610737 5.95491503 50 0 52.9389263 5.95491503 59.5105652 6.90983006 54.7552826 11.545085 55.8778525 18.0901699"></polygon>
                    <polygon points="70.5 15 64.6221475 18.0901699 65.7447174 11.545085 60.9894348 6.90983006 67.5610737 5.95491503 70.5 0 73.4389263 5.95491503 80.0105652 6.90983006 75.2552826 11.545085 76.3778525 18.0901699"></polygon>
                    <polygon points="90.5 15 84.6221475 18.0901699 85.7447174 11.545085 80.9894348 6.90983006 87.5610737 5.95491503 90.5 0 93.4389263 5.95491503 100.010565 6.90983006 95.2552826 11.545085 96.3778525 18.0901699"></polygon>
                </g>
            </g>
        </svg></p>
        <p>{{ section.settings.review }}</p>
        <p><cite>{{ section.settings.cite }}</cite></p>
    </div>

  </div>
</div>

{% schema %}
  {
    "name": "🚀SP - Review Standalone",
    "settings": [
      {
        "type": "header",
        "content": "Text",
        "info": "Set the text size for your widget"
      },
      {
        "type": "font_picker",
        "id": "text_font",
        "label": "Text Font",
        "default": "sans-serif"
      },
      {
        "type": "range",
        "id": "text_size",
        "min": 10,
        "max": 50,
        "step": 1,
        "unit": "px",
        "label": "Text Size",
        "default": 15
      },
      {
        "type": "font_picker",
        "id": "cite_font",
        "label": "Citation Font",
        "default": "sans-serif"
      },
      {
        "type": "range",
        "id": "cite_size",
        "min": 10,
        "max": 50,
        "step": 1,
        "unit": "px",
        "label": "Citation Size",
        "default": 15
      },
      {
        "type": "header",
        "content": "Colors",
        "info": "Set colors for the section."
      },
      {
        "type": "color_background",
        "id": "background_color",
        "default": "transparent",
        "label": "Background Color"
      },
      {
        "type": "color",
        "id": "text_color",
        "default": "#111111",
        "label": "Text Color"
      },
      {
        "type": "color",
        "id": "cite_color",
        "default": "#888888",
        "label": "Citation Color"
      },
      {
        "type": "color",
        "id": "highlight_color",
        "default": "#111111",
        "label": "Highlight Color"
      },
      {
        "type": "header",
        "content": "Dimensions",
        "info": "Set the section dimensions in pixels."
      },
      {
        "type": "number",
        "id": "max_width",
        "default": 1000,
        "label": "Max Width of Section"
      },
      {
        "type": "number",
        "id": "padding_top",
        "default": 25,
        "label": "Padding Top"
      },
      {
        "type": "number",
        "id": "padding_bottom",
        "default": 25,
        "label": "Padding Bottom"
      },
      {
        "type": "number",
        "id": "padding_left",
        "default": 10,
        "label": "Padding Left"
      },
      {
        "type": "number",
        "id": "padding_right",
        "default": 10,
        "label": "Padding Right"
      },
      {
        "type": "number",
        "id": "element_spacing",
        "default": 20,
        "label": "Spacing between Elements"
      },
      {
        "type": "header",
        "content": "Review",
        "info": "Setup the review"
      },
      {
        "type": "text_alignment",
        "id": "alignment",
        "label": "Alignment",
        "default": "center"
      },
      {
        "type": "inline_richtext",
        "id": "review",
        "label": "Review",
        "default": "This is a sample review"
      },
      {
        "type": "inline_richtext",
        "id": "cite",
        "label": "Cite",
        "default": "Sample Reviewer"
      }
    ],
	"blocks": [],
	"presets": [
      {
        "name": "🚀SP - Review Standalone"
      }
    ]
  }
{% endschema %}