{% comment %}
  © Sections Pro. You are free to use this section in your store. You may not redistribute this section in another Shopify app.
{% endcomment %}
<style>

  {{ section.settings.text_font | font_face }}
  {{ section.settings.cite_font | font_face }}

  #sp-testimonials-{{ section.id }}.sp-testimonials-wrap p {
    font-size: {{ section.settings.text_size }}px;
    font-family: {{ section.settings.text_font.family }}, {{ section.settings.text_font.fallback_families }};
    font-weight: {{ section.settings.text_font.weight }};
    line-height: 1.15;
  }

  #sp-testimonials-{{ section.id }}.sp-testimonials-wrap p.sp-testimonials-cite {
    font-size: {{ section.settings.cite_size }}px;
    font-family: {{ section.settings.cite_font.family }}, {{ section.settings.cite_font.fallback_families }};
    font-weight: {{ section.settings.cite_font.weight }};
    line-height: 1.15;
  }

  #sp-testimonials-{{ section.id }}.sp-testimonials-wrap {
    background-image: {{ section.settings.background_color }};
    width: 100%;
  }
  
  #sp-testimonials-{{ section.id }} .sp-testimonials {
    position: relative;
    margin: 0 auto;
    max-width: {{ section.settings.max_width }}px;
    padding: {{ section.settings.padding_top }}px {{ section.settings.padding_right }}px {{ section.settings.padding_bottom }}px {{ section.settings.padding_left }}px;
  }

  #sp-testimonials-{{ section.id }} .sp-testimonials .sp-testimonials-grid {
    display: grid;
    gap: 20px;
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    z-index: 2;
    align-items: center;
    justify-content: center;
    align-content: start;
  }

  @media only screen and (min-width: 801px) {
    #sp-testimonials-{{ section.id }} .sp-testimonials .sp-testimonials-grid {
      display: grid;
      grid-auto-columns: 1fr;
      grid-auto-flow: column;
      
    }
  }

  @media only screen and (max-width: 800px) {
    #sp-testimonials-{{ section.id }} .sp-testimonials .sp-testimonials-grid {
      display: grid;
      grid-template-columns: 1fr;
      
    }
  }

  #sp-testimonials-{{ section.id }} .sp-testimonials-col {
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
  }

  #sp-testimonials-{{ section.id }} .sp-testimonials-img-container {
    box-sizing: border-box;
    display: block;
    max-width: 100%;
    width: 50%;
    z-index: 1;
    border-radius: 50%;
    aspect-ratio: 1/1;
    text-align: center;
    margin: 10px;
    overflow: hidden;
    margin: 0 auto {{ section.settings.element_spacing }}px auto;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.20);
  }

  #sp-testimonials-{{ section.id }} .sp-testimonials-img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: all .5s ease;
  }

  #sp-testimonials-{{ section.id }} .sp-testimonials-col:hover .sp-testimonials-img {
    transform: scale(1.2);
  }
  
  #sp-testimonials-{{ section.id }} .sp-testimonials-content {
    position: relative;
    z-index: 3;
    padding: 0;
    margin: 0;
    display: grid;
    justify-content: center;
    align-content: center;
  }

  #sp-testimonials-{{ section.id }} .sp-testimonials-content svg, .sp-testimonials-content svg g {
      fill: {{ section.settings.highlight_color }};
  }
  
  #sp-testimonials-{{ section.id }} .sp-testimonials p {
    margin: 0 0 {{ section.settings.element_spacing }}px 0;
    padding: 0;
    text-align: center;
    color: {{ section.settings.text_color }};
  }

  #sp-testimonials-{{ section.id }} .sp-testimonials p:last-child {
    margin: 0;
  }

  @media only screen and (max-width: 800px) {

  }
</style>

<div id="sp-testimonials-{{ section.id }}" class="sp-testimonials-wrap">

<div class="sp-testimonials">

  <div class="sp-testimonials-grid">

    {% for block in section.blocks %}
      <div class="sp-testimonials-col">
        <div class="sp-testimonials-img-container">
          <img class="sp-testimonials-img" src="{{ block.settings.image | image_url: width: 500 }}">
        </div>
        <div class="sp-testimonials-content">
          <p>
<svg width="101px" height="20px" viewBox="0 0 101 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>Group 5</title>
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Group-5">
            <polygon points="10 15 4.12214748 18.0901699 5.24471742 11.545085 0.489434837 6.90983006 7.06107374 5.95491503 10 0 12.9389263 5.95491503 19.5105652 6.90983006 14.7552826 11.545085 15.8778525 18.0901699"></polygon>
            <polygon points="30.5 15 24.6221475 18.0901699 25.7447174 11.545085 20.9894348 6.90983006 27.5610737 5.95491503 30.5 0 33.4389263 5.95491503 40.0105652 6.90983006 35.2552826 11.545085 36.3778525 18.0901699"></polygon>
            <polygon points="50 15 44.1221475 18.0901699 45.2447174 11.545085 40.4894348 6.90983006 47.0610737 5.95491503 50 0 52.9389263 5.95491503 59.5105652 6.90983006 54.7552826 11.545085 55.8778525 18.0901699"></polygon>
            <polygon points="70.5 15 64.6221475 18.0901699 65.7447174 11.545085 60.9894348 6.90983006 67.5610737 5.95491503 70.5 0 73.4389263 5.95491503 80.0105652 6.90983006 75.2552826 11.545085 76.3778525 18.0901699"></polygon>
            <polygon points="90.5 15 84.6221475 18.0901699 85.7447174 11.545085 80.9894348 6.90983006 87.5610737 5.95491503 90.5 0 93.4389263 5.95491503 100.010565 6.90983006 95.2552826 11.545085 96.3778525 18.0901699"></polygon>
        </g>
    </g>
</svg></p>
          <p>{{ block.settings.quote }}</p>
          <p class="sp-testimonials-cite">{{ block.settings.cite }}</p>
        </div>
      </div>
      <!-- /.sp-testimonials-col -->

      {% endfor %}

  </div>
  <!-- /.sp-testimonials-grid -->
  
</div>
<!-- /.sp-testimonials -->

</div>
<!-- /.sp-testimonials-wrap -->

{% schema %}
  {
    "name": "🚀SP - Testimonials Grid",
    "settings": [
      {
        "type": "header",
        "content": "Text",
        "info": "Set the text size for your widget"
      },
      {
        "type": "font_picker",
        "id": "text_font",
        "label": "Text Font",
        "default": "sans-serif"
      },
      {
        "type": "range",
        "id": "text_size",
        "min": 10,
        "max": 50,
        "step": 1,
        "unit": "px",
        "label": "Text Size",
        "default": 15
      },
      {
        "type": "font_picker",
        "id": "cite_font",
        "label": "Citation Font",
        "default": "sans-serif"
      },
      {
        "type": "range",
        "id": "cite_size",
        "min": 10,
        "max": 50,
        "step": 1,
        "unit": "px",
        "label": "Cite Size",
        "default": 15
      },
      {
        "type": "header",
        "content": "Colors",
        "info": "Set colors for the section."
      },
      {
        "type": "color_background",
        "id": "background_color",
        "default": "linear-gradient(164deg, #FFF 0%, #FFF 100%)",
        "label": "Background Color"
      },
      {
        "type": "color",
        "id": "text_color",
        "default": "#111",
        "label": "Text Color"
      },
      {
        "type": "color",
        "id": "highlight_color",
        "default": "#111111",
        "label": "Highlight Color"
      },
      {
        "type": "header",
        "content": "Dimensions",
        "info": "Set the section dimensions in pixels."
      },
      {
        "type": "number",
        "id": "max_width",
        "default": 1000,
        "label": "Max Width of Section"
      },
      {
        "type": "number",
        "id": "padding_top",
        "default": 25,
        "label": "Padding Top"
      },
      {
        "type": "number",
        "id": "padding_bottom",
        "default": 25,
        "label": "Padding Bottom"
      },
      {
        "type": "number",
        "id": "padding_left",
        "default": 10,
        "label": "Padding Left"
      },
      {
        "type": "number",
        "id": "padding_right",
        "default": 10,
        "label": "Padding Right"
      },
      {
        "type": "number",
        "id": "element_spacing",
        "default": 15,
        "label": "Spacing Between Elements"
      }
    ],
    
	"blocks": [
      {
       "name": "Testimonial",
       "type": "testimonial",
       "settings": [
         
          {
            "type": "image_picker",
            "id": "image",
            "label": "Testimonial Image"
          },
          {
            "type": "inline_richtext",
            "id": "quote",
            "label": "Quote",
            "default": "This is a sample testimonial."
          },
          {
            "type": "inline_richtext",
            "id": "cite",
            "label": "Cite",
            "default": "Sample Testimonial"
          },
          {
            "type": "url",
            "id": "cta_link",
            "label": "Call to Action Link"
          }
       ]
      }
    ],
	"presets": [
      {
        "name": "🚀SP - Testimonials Grid",
        "category": "Custom"
      }
    ]
  }
{% endschema %}