{% comment %}
  © Sections Pro. You are free to use this section in your store. You may not redistribute this section in another Shopify app.
{% endcomment %}
<style>
  #sp-video-grid-{{ section.id }}.sp-video-grid-wrap {
    background-image: {{ section.settings.background_color }};
    width: 100%;
  }


  #sp-video-grid-{{ section.id }} .sp-video-grid {
    position: relative;
    margin: 0 auto;
    max-width: {{ section.settings.max_width }}px;
    padding: {{ section.settings.padding_top }}px {{ section.settings.padding_right }}px {{ section.settings.padding_bottom }}px {{ section.settings.padding_left }}px;
  }

  #sp-video-grid-{{ section.id }}  .sp-video-grid .sp-video-grid-grid {
    display: grid;
    align-items: center;
    gap: {{ section.settings.grid_gap}}px;
    position: relative;
    z-index: 2;
  }

  @media only screen and (min-width: 801px) {
    .sp-video-grid .sp-video-grid-grid {
      display: grid;
      grid-auto-columns: 1fr;
      grid-auto-flow: column;
      
    }
  }

  @media only screen and (max-width: 800px) {
    .sp-video-grid .sp-video-grid-grid {
      display: grid;
      grid-template-columns: 1fr;
      
    }
  }

  #sp-video-grid-{{ section.id }}  .sp-video-grid .sp-video-grid-cover {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-image: {{section.settings.cover_background}};
    opacity: {{section.settings.cover_opacity}}%;
    transition: all .5s;
    visibility: hidden;
  }

  #sp-video-grid-{{ section.id }}  .sp-video-grid-col:hover .sp-video-grid-cover {
    opacity: {{section.settings.cover_opacity | plus: 15 }}%;
    visibility: visible;
  }

  .sp-video-grid-col {
    position: relative;
    padding: 0;
    overflow: hidden;
    border-radius: 5px;
    transition: .25s all ease;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.20);
  }

  .sp-video-grid-col video {
    position: relative;
    width: 100%;
    object-fit: cover;
    aspect-ratio: {{ section.settings.video_aspect_ratio }};
    transition: all .5s;
    display: block;
  }

  .sp-video-grid-col:hover {
    z-index: 3;
    transform: scale(1.02);
  }
  
  @media only screen and (max-width: 800px) {

  }

  /* carousel */
  .sp-video-grid-carousel-links {
    padding: 0;
  }

  #sp-video-grid-carousel-links-{{ section.id }} a {
      display: inline-block;
      background-color: {{ section.settings.highlight_color }};
      width: 12px;
      height: 12px;
      border-radius: 50%;
      text-indent: -9999px;
      padding: 0;
      margin: 0 2.5px; 
      cursor: pointer;
      opacity: 0.25;
  }

  #sp-video-grid-carousel-links-{{ section.id }} a[active] {
      background-color: {{ section.settings.highlight_color }};
      opacity: 1;
  }

  #sp-video-grid-carousel-links-{{ section.id }} {
    display: none;
  }

  @media only screen and (max-width: 800px) {
    #sp-video-grid-carousel-links-{{ section.id }} {
      display: block;
      text-align: center;
    }
  }
</style>

<div id="sp-video-grid-{{ section.id }}" class="sp-video-grid-wrap">

<div class="sp-video-grid">

  <div id="sp-video-grid-carousel-{{ section.id }}" class="sp-video-grid-grid">

    {% for block in section.blocks %}
      <div class="sp-video-grid-col">
        <div class="sai-video-container">
        {{
          block.settings.video
          | video_tag:
            image_size: '1100x',
            playsinline: block.settings.video_inline,
            autoplay: block.settings.video_autoplay,
            loop: block.settings.video_loop,
            controls: block.settings.video_controls,
            muted: block.settings.video_muted
        }}
        </div>
      </div>
      <!-- /.sp-video-grid-col -->

    {% endfor %}

  </div>
  <!-- /.sp-video-grid-grid -->

  <div id="sp-video-grid-carousel-links-{{ section.id }}" class="sp-video-grid-carousel-links">
    {% for block in section.blocks %}
      <a data-index="{{ forloop.index | minus: 1 }}"></a>
    {% endfor %}
  </div>
  
</div>
<!-- /.sp-video-grid -->

</div>
<!-- /.sp-video-grid-wrap -->

{% if section.settings.big_play_pause_button %}
<!-- play/pause js -->
<style>
  #sp-video-grid-{{ section.id }} .sai-video-container {
    position: relative;
    cursor: pointer;
  }

  #sp-video-grid-{{ section.id }} .sai-video-container svg.sp-play-button,
  #sp-video-grid-{{ section.id }} .sai-video-container svg.sp-pause-button {
    position: absolute;
    top: calc(50% - 45px);
    left: calc(50% - 45px);
    transition: all .5s;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.25));
  }

  #sp-video-grid-{{ section.id }} .sai-video-container svg.sp-play-button *,
  #sp-video-grid-{{ section.id }} .sai-video-container svg.sp-pause-button * {
    pointer-events: none;
  }

  #sp-video-grid-{{ section.id }} .sai-video-container[data-state="paused"] svg.sp-play-button {
    visibility: visible;
    opacity: 0.8;
    opacity: .9;
  }  

  #sp-video-grid-{{ section.id }} .sai-video-container[data-state="playing"]:hover svg.sp-pause-button {
    visibility: visible;
    opacity: 0.8;
  }
</style>
<script>

  var ai_play_button = `
  <svg class="sp-play-button" width="90px" height="90px" viewBox="0 0 90 90" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="media-grid" transform="translate(-325, -205)" fill="#FFFFFF" fill-rule="nonzero">
              <g transform="translate(40, 145)">
                  <g transform="translate(230, 0)">
                      <path d="M99.5,60 C105.655833,60 111.440833,61.168125 116.855,63.504375 C122.269167,65.840625 126.97875,69.01125 130.98375,73.01625 C134.98875,77.02125 138.159375,81.7308333 140.495625,87.145 C142.831875,92.5591667 144,98.3441667 144,104.5 C144,110.655833 142.831875,116.440833 140.495625,121.855 C138.159375,127.269167 134.98875,131.97875 130.98375,135.98375 C126.97875,139.98875 122.269167,143.159375 116.855,145.495625 C111.440833,147.831875 105.655833,149 99.5,149 C93.3441667,149 87.5591667,147.831875 82.145,145.495625 C76.7308333,143.159375 72.02125,139.98875 68.01625,135.98375 C64.01125,131.97875 60.840625,127.269167 58.504375,121.855 C56.168125,116.440833 55,110.655833 55,104.5 C55,98.3441667 56.168125,92.5591667 58.504375,87.145 C60.840625,81.7308333 64.01125,77.02125 68.01625,73.01625 C72.02125,69.01125 76.7308333,65.840625 82.145,63.504375 C87.5591667,61.168125 93.3441667,60 99.5,60 Z M90,85 L90,125 L121,105 L90,85 Z" id="Shape"></path>
                  </g>
              </g>
          </g>
      </g>
  </svg>`;

  var ai_pause_button = `
<svg class="sp-pause-button" width="90px" height="90px" viewBox="0 0 90 90" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="media-grid" transform="translate(-402, -205)" fill="#FFFFFF">
            <g id="Group-21" transform="translate(40, 145)">
                <g id="Group-20" transform="translate(230, 0)">
                    <path d="M176.5,60 C182.655833,60 188.440833,61.168125 193.855,63.504375 C199.269167,65.840625 203.97875,69.01125 207.98375,73.01625 C211.98875,77.02125 215.159375,81.7308333 217.495625,87.145 C219.831875,92.5591667 221,98.3441667 221,104.5 C221,110.655833 219.831875,116.440833 217.495625,121.855 C215.159375,127.269167 211.98875,131.97875 207.98375,135.98375 C203.97875,139.98875 199.269167,143.159375 193.855,145.495625 C188.440833,147.831875 182.655833,149 176.5,149 C170.344167,149 164.559167,147.831875 159.145,145.495625 C153.730833,143.159375 149.02125,139.98875 145.01625,135.98375 C141.01125,131.97875 137.840625,127.269167 135.504375,121.855 C133.168125,116.440833 132,110.655833 132,104.5 C132,98.3441667 133.168125,92.5591667 135.504375,87.145 C137.840625,81.7308333 141.01125,77.02125 145.01625,73.01625 C149.02125,69.01125 153.730833,65.840625 159.145,63.504375 C164.559167,61.168125 170.344167,60 176.5,60 Z M167.073333,88 C164.823693,88 163,89.8236935 163,92.0733333 L163,119.926667 C163,122.176307 164.823693,124 167.073333,124 C169.322973,124 171.146667,122.176307 171.146667,119.926667 L171.146667,92.0733333 C171.146667,89.8236935 169.322973,88 167.073333,88 Z M185.873333,88 C183.623693,88 181.8,89.8236935 181.8,92.0733333 L181.8,119.926667 C181.8,122.176307 183.623693,124 185.873333,124 C188.122973,124 189.946667,122.176307 189.946667,119.926667 L189.946667,92.0733333 C189.946667,89.8236935 188.122973,88 185.873333,88 Z" id="Combined-Shape"></path>
                </g>
            </g>
        </g>
    </g>
</svg>`;

  var sai_video_containers = document.querySelectorAll(`#sp-video-grid-{{ section.id }} .sai-video-container`);

  for(var x=0; x<sai_video_containers.length; x++) {
    sai_video_containers[x].innerHTML += ai_play_button;
    sai_video_containers[x].innerHTML += ai_pause_button;
  }

  var sai_videos = document.querySelectorAll(`#sp-video-grid-{{ section.id }} .sai-video-container video`);

  for(var x=0; x<sai_videos.length; x++) {

    sai_videos[x].parentNode.setAttribute('data-state', 'paused'); 

    if(sai_videos[x].hasAttribute('autoplay')) {
        sai_videos[x].parentNode.setAttribute('data-state', 'playing');
    }
    else {
        sai_videos[x].parentNode.setAttribute('data-state', 'paused');
      
    }
    
    sai_videos[x].addEventListener('click', (e) => {

      if (e.target.paused) {
        e.target.play();
        e.target.parentNode.setAttribute('data-state', 'playing');
      }
      else { 
        e.target.pause();
        e.target.parentNode.setAttribute('data-state', 'paused');    
      }  
    });
    
  }
</script>
{% endif %}

<script>
  !function(e,t){"object"==typeof exports&&"object"==typeof module?module.exports=t():"function"==typeof define&&define.amd?define("TouchSlideshow",[],t):"object"==typeof exports?exports.TouchSlideshow=t():e.TouchSlideshow=t()}(this,function(){return r={},s.m=i=[function(e,t,i){"use strict";Object.defineProperty(t,"__esModule",{value:!0});var s="function"==typeof Symbol&&"symbol"==typeof Symbol.iterator?function(e){return typeof e}:function(e){return e&&"function"==typeof Symbol&&e.constructor===Symbol&&e!==Symbol.prototype?"symbol":typeof e},r=(function(e,t,i){return t&&o(e.prototype,t),i&&o(e,i),e}(n,[{key:"init",value:function(){if(window.addEventListener("resize",this.resizeHandler),this.config.draggable&&(this.pointerDown=!1,this.drag={startX:0,endX:0,startY:0,letItGo:null},this.selector.addEventListener("touchstart",this.touchstartHandler,{passive:!0}),this.selector.addEventListener("touchend",this.touchendHandler),this.selector.addEventListener("touchmove",this.touchmoveHandler,{passive:!0}),this.selector.addEventListener("mousedown",this.mousedownHandler),this.selector.addEventListener("mouseup",this.mouseupHandler),this.selector.addEventListener("mouseleave",this.mouseleaveHandler),this.selector.addEventListener("mousemove",this.mousemoveHandler)),null===this.selector)throw new Error("Something wrong with your selector­");this.resolveSlidesNumber(),this.selector.style.overflow="hidden",this.sliderFrame=document.createElement("div"),this.sliderFrame.style.width=this.selectorWidth/this.perPage*this.innerElements.length+"px",this.sliderFrame.style.webkitTransition="all "+this.config.duration+"ms "+this.config.easing,this.sliderFrame.style.transition="all "+this.config.duration+"ms "+this.config.easing,this.config.draggable&&(this.selector.style.cursor="-webkit-grab");for(var e=document.createDocumentFragment(),t=0;t<this.innerElements.length;t++){var i=document.createElement("div");i.style.cssFloat="left",i.style.float="left",i.style.width=100/this.innerElements.length+"%",i.appendChild(this.innerElements[t]),e.appendChild(i)}this.sliderFrame.appendChild(e),this.selector.innerHTML="",this.selector.appendChild(this.sliderFrame),this.slideToCurrent(),this.config.onInit.call(this)}},{key:"resolveSlidesNumber",value:function(){if("number"==typeof this.config.perPage)this.perPage=this.config.perPage;else if("object"===s(this.config.perPage))for(var e in this.perPage=1,this.config.perPage)window.innerWidth>=e&&(this.perPage=this.config.perPage[e])}},{key:"prev",value:function(){var e,t=0<arguments.length&&void 0!==arguments[0]?arguments[0]:1,i=arguments[1];this.innerElements.length<=this.perPage||(e=this.currentSlide,0===this.currentSlide&&this.config.loop?this.currentSlide=this.innerElements.length-this.perPage:this.currentSlide=Math.max(this.currentSlide-t,0),e!==this.currentSlide&&(this.slideToCurrent(),this.config.onChange.call(this),i&&i.call(this)))}},{key:"next",value:function(){var e,t=0<arguments.length&&void 0!==arguments[0]?arguments[0]:1,i=arguments[1];this.innerElements.length<=this.perPage||(e=this.currentSlide,this.currentSlide===this.innerElements.length-this.perPage&&this.config.loop?this.currentSlide=0:this.currentSlide=Math.min(this.currentSlide+t,this.innerElements.length-this.perPage),e!==this.currentSlide&&(this.slideToCurrent(),this.config.onChange.call(this),i&&i.call(this)))}},{key:"goTo",value:function(e,t){var i;this.innerElements.length<=this.perPage||(i=this.currentSlide,this.currentSlide=Math.min(Math.max(e,0),this.innerElements.length-this.perPage),i!==this.currentSlide&&(this.slideToCurrent(),this.config.onChange.call(this),t&&t.call(this)))}},{key:"slideToCurrent",value:function(){this.sliderFrame.style[this.transformProperty]="translate3d(-"+this.currentSlide*(this.selectorWidth/this.perPage)+"px, 0, 0)"}},{key:"updateAfterDrag",value:function(){var e=this.drag.endX-this.drag.startX,t=Math.abs(e),i=Math.ceil(t/(this.selectorWidth/this.perPage));0<e&&t>this.config.threshold&&this.innerElements.length>this.perPage?this.prev(i):e<0&&t>this.config.threshold&&this.innerElements.length>this.perPage&&this.next(i),this.slideToCurrent()}},{key:"resizeHandler",value:function(){this.resolveSlidesNumber(),this.selectorWidth=this.selector.offsetWidth,this.sliderFrame.style.width=this.selectorWidth/this.perPage*this.innerElements.length+"px",this.slideToCurrent()}},{key:"clearDrag",value:function(){this.drag={startX:0,endX:0,startY:0,letItGo:null}}},{key:"touchstartHandler",value:function(e){e.stopPropagation(),this.pointerDown=!0,this.drag.startX=e.touches[0].pageX,this.drag.startY=e.touches[0].pageY}},{key:"touchendHandler",value:function(e){e.stopPropagation(),this.pointerDown=!1,this.sliderFrame.style.webkitTransition="all "+this.config.duration+"ms "+this.config.easing,this.sliderFrame.style.transition="all "+this.config.duration+"ms "+this.config.easing,this.drag.endX&&this.updateAfterDrag(),this.clearDrag()}},{key:"touchmoveHandler",value:function(e){e.stopPropagation(),null===this.drag.letItGo&&(this.drag.letItGo=Math.abs(this.drag.startY-e.touches[0].pageY)<Math.abs(this.drag.startX-e.touches[0].pageX)),this.pointerDown&&this.drag.letItGo&&(this.drag.endX=e.touches[0].pageX,this.sliderFrame.style.webkitTransition="all 0ms "+this.config.easing,this.sliderFrame.style.transition="all 0ms "+this.config.easing,this.sliderFrame.style[this.transformProperty]="translate3d("+-1*(this.currentSlide*(this.selectorWidth/this.perPage)+(this.drag.startX-this.drag.endX))+"px, 0, 0)")}},{key:"mousedownHandler",value:function(e){e.preventDefault(),e.stopPropagation(),this.pointerDown=!0,this.drag.startX=e.pageX}},{key:"mouseupHandler",value:function(e){e.stopPropagation(),this.pointerDown=!1,this.selector.style.cursor="-webkit-grab",this.sliderFrame.style.webkitTransition="all "+this.config.duration+"ms "+this.config.easing,this.sliderFrame.style.transition="all "+this.config.duration+"ms "+this.config.easing,this.drag.endX&&this.updateAfterDrag(),this.clearDrag()}},{key:"mousemoveHandler",value:function(e){e.preventDefault(),this.pointerDown&&(this.drag.endX=e.pageX,this.selector.style.cursor="-webkit-grabbing",this.sliderFrame.style.webkitTransition="all 0ms "+this.config.easing,this.sliderFrame.style.transition="all 0ms "+this.config.easing,this.sliderFrame.style[this.transformProperty]="translate3d("+-1*(this.currentSlide*(this.selectorWidth/this.perPage)+(this.drag.startX-this.drag.endX))+"px, 0, 0)")}},{key:"mouseleaveHandler",value:function(e){this.pointerDown&&(this.pointerDown=!1,this.selector.style.cursor="-webkit-grab",this.drag.endX=e.pageX,this.sliderFrame.style.webkitTransition="all "+this.config.duration+"ms "+this.config.easing,this.sliderFrame.style.transition="all "+this.config.duration+"ms "+this.config.easing,this.updateAfterDrag(),this.clearDrag())}},{key:"updateFrame",value:function(){this.sliderFrame=document.createElement("div"),this.sliderFrame.style.width=this.selectorWidth/this.perPage*this.innerElements.length+"px",this.sliderFrame.style.webkitTransition="all "+this.config.duration+"ms "+this.config.easing,this.sliderFrame.style.transition="all "+this.config.duration+"ms "+this.config.easing,this.config.draggable&&(this.selector.style.cursor="-webkit-grab");for(var e=document.createDocumentFragment(),t=0;t<this.innerElements.length;t++){var i=document.createElement("div");i.style.cssFloat="left",i.style.float="left",i.style.width=100/this.innerElements.length+"%",i.appendChild(this.innerElements[t]),e.appendChild(i)}this.sliderFrame.appendChild(e),this.selector.innerHTML="",this.selector.appendChild(this.sliderFrame),this.slideToCurrent()}},{key:"remove",value:function(e,t){if(e<0||e>=this.innerElements.length)throw new Error("Item to remove doesn't exist­");this.innerElements.splice(e,1),this.currentSlide=e<=this.currentSlide?this.currentSlide-1:this.currentSlide,this.updateFrame(),t&&t.call(this)}},{key:"insert",value:function(e,t,i){if(t<0||t>this.innerElements.length+1)throw new Error("Unable to inset it at this index­");if(-1!==this.innerElements.indexOf(e))throw new Error("The same item in a carousel? Really? Nope ðŸ˜­");this.innerElements.splice(t,0,e),this.currentSlide=t<=this.currentSlide?this.currentSlide+1:this.currentSlide,this.updateFrame(),i&&i.call(this)}},{key:"prepend",value:function(e,t){this.insert(e,0),t&&t.call(this)}},{key:"append",value:function(e,t){this.insert(e,this.innerElements.length+1),t&&t.call(this)}},{key:"destroy",value:function(){var e=0<arguments.length&&void 0!==arguments[0]&&arguments[0],t=arguments[1];if(window.removeEventListener("resize",this.resizeHandler),this.selector.style.cursor="auto",this.selector.removeEventListener("touchstart",this.touchstartHandler),this.selector.removeEventListener("touchend",this.touchendHandler),this.selector.removeEventListener("touchmove",this.touchmoveHandler),this.selector.removeEventListener("mousedown",this.mousedownHandler),this.selector.removeEventListener("mouseup",this.mouseupHandler),this.selector.removeEventListener("mouseleave",this.mouseleaveHandler),this.selector.removeEventListener("mousemove",this.mousemoveHandler),e){for(var i=document.createDocumentFragment(),s=0;s<this.innerElements.length;s++)i.appendChild(this.innerElements[s]);this.selector.innerHTML="",this.selector.appendChild(i),this.selector.removeAttribute("style")}t&&t.call(this)}}],[{key:"mergeSettings",value:function(e){var t,i={selector:".siema",duration:200,easing:"ease-out",perPage:1,startIndex:0,draggable:!0,threshold:20,loop:!1,onInit:function(){},onChange:function(){}},s=e;for(t in s)i[t]=s[t];return i}},{key:"webkitOrNot",value:function(){return"string"==typeof document.documentElement.style.transform?"transform":"WebkitTransform"}}]),n);function n(e){var t=this;(function(e){if(!(e instanceof n))throw new TypeError("Cannot call a class as a function")})(this),this.config=n.mergeSettings(e),this.selector="string"==typeof this.config.selector?document.querySelector(this.config.selector):this.config.selector,this.selectorWidth=this.selector.offsetWidth,this.innerElements=[].slice.call(this.selector.children),this.currentSlide=this.config.startIndex,this.transformProperty=n.webkitOrNot(),["resizeHandler","touchstartHandler","touchendHandler","touchmoveHandler","mousedownHandler","mouseupHandler","mouseleaveHandler","mousemoveHandler"].forEach(function(e){t[e]=t[e].bind(t)}),this.init()}function o(e,t){for(var i=0;i<t.length;i++){var s=t[i];s.enumerable=s.enumerable||!1,s.configurable=!0,"value"in s&&(s.writable=!0),Object.defineProperty(e,s.key,s)}}t.default=r,e.exports=t.default}],s.c=r,s.i=function(e){return e},s.d=function(e,t,i){s.o(e,t)||Object.defineProperty(e,t,{configurable:!1,enumerable:!0,get:i})},s.n=function(e){var t=e&&e.__esModule?function(){return e.default}:function(){return e};return s.d(t,"a",t),t},s.o=function(e,t){return Object.prototype.hasOwnProperty.call(e,t)},s.p="",s(s.s=0);function s(e){if(r[e])return r[e].exports;var t=r[e]={i:e,l:!1,exports:{}};return i[e].call(t.exports,t,t.exports,s),t.l=!0,t.exports}var i,r});
</script>

<script>

  // mobile only
  if(screen.width <= 800 ) {
    var el = document.querySelector(`#sp-video-grid-carousel-{{ section.id }}`);
    var menu = document.querySelector(`#sp-video-grid-carousel-links-{{ section.id }}`);
    var interval;
    var autoplay = 5000;

    console.log('el', el);
    
    // create the slideshow
    var s = new TouchSlideshow({
        selector: el,
        duration: 200,
        easing: 'ease-out',
        perPage: 1,
        startIndex: 0,
        draggable: true,
        threshold: 20,
        loop: false,
        onInit: () => {

          {% if section.settings.auto_slide %}
            interval = setInterval(function() {
              s.next();
            }, autoplay);
          {% endif %}
          
        },
        onChange: () => {
          setSlideIndicator(s.currentSlide);
        }
      });

    function setSlideIndicator(i) {
      var els, x;
      
      // clear active
      els = menu.querySelectorAll('a');

      for(x=0; x<els.length; x++) {
        els[x].removeAttribute('active');
      }

      // set active
      els[i].setAttribute('active', '');
    }

    // default to 0
    setSlideIndicator(0);

    /**
    * Goes to specified slide
    */
    function gotoSlide(i) {
      s.goTo(i);
      setSlideIndicator(i);
    }

    // setup jump points
    var links = menu.querySelectorAll('a');
    
    for(var x=0; x<links.length; x++) {
      
      links[x].addEventListener('click', function(e) {
        gotoSlide(e.target.getAttribute('data-index'));
        clearInterval(interval);
      });
      
    }
  }
</script>

{% schema %}
  {
    "name": "🚀SP - Video Grid to Sli",
    "settings": [
      {
        "type": "header",
        "content": "Colors",
        "info": "Set colors for the section."
      },
      {
        "type": "color_background",
        "id": "background_color",
        "default": "linear-gradient(164deg, #fff 0%, #fff 0%)",
        "label": "Background"
      },
      {
        "type": "color_background",
        "id": "button_background_color",
        "default": "linear-gradient(164deg, #111 0%, #333 100%)",
        "label": "Button Background Color"
      },
      {
        "type": "color",
        "id": "highlight_color",
        "default": "#111",
        "label": "Highlight Color"
      },
      {
        "type": "header",
        "content": "Dimensions",
        "info": "Set the section dimensions in pixels."
      },
      {
        "type": "select",
        "id": "video_aspect_ratio",
        "label": "Video Aspect Ratio",
        "options": [
          {
            "value": "21 / 9",
            "label": "21:9"
          },
          {
            "value": "16 / 9",
            "label": "16:9"
          },
          {
            "value": "4 / 3",
            "label": "4:3"
          },
          {
            "value": "1 / 1",
            "label": "1:1"
          }
        ],
        "default": "1 / 1"
      },
      {
        "type": "number",
        "id": "max_width",
        "default": 1000,
        "label": "Max Width of Section"
      },
      {
        "type": "number",
        "id": "grid_gap",
        "default": 25,
        "label": "Gap Between Images"
      },
      {
        "type": "number",
        "id": "padding_top",
        "default": 25,
        "label": "Padding Top"
      },
      {
        "type": "number",
        "id": "padding_bottom",
        "default": 25,
        "label": "Padding Bottom"
      },
      {
        "type": "number",
        "id": "padding_left",
        "default": 10,
        "label": "Padding Left"
      },
      {
        "type": "number",
        "id": "padding_right",
        "default": 10,
        "label": "Padding Right"
      },
      {
        "type": "header",
        "content": "Options",
        "info": "Set additional section options"
      },
      {
        "type": "checkbox",
        "id": "big_play_pause_button",
        "label": "Show Big Play Button",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "auto_slide",
        "label": "Auto Play Slideshow ",
        "default": false
      }
    ],
	"blocks": [
      {
       "name": "Video",
       "type": "video",
       "settings": [
          {
            "type": "video",
            "id": "video",
            "label": "Hero Video"
          },
          {
            "type": "checkbox",
            "id": "video_inline",
            "label": "Play Inline",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "video_autoplay",
            "label": "Autoplay",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "video_loop",
            "label": "Loop Video",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "video_controls",
            "label": "Show Video Controls",
            "default": false
          },
          {
            "type": "checkbox",
            "id": "video_muted",
            "label": "Mute Video",
            "default": true
          }
       ]
      }
    ],
	"presets": [
      {
        "name": "🚀SP - Video Grid to Sli",
        "category": "Custom"
      }
    ]
  }
{% endschema %}